{% load static %}

<footer class="shadow-container1 rounded-t-xl bg-white py-8 px-10">
  <div class="flex flex-row gap-6">
    <img src="{% static 'web/logo.png' %}" alt="" srcset="" class="w-44 object-contain" draggable="false" />
    <div class="font-poppins flex flex-col gap-2">
      <small class="text-sm font-medium text-slate-600"
        >Build with love and patiently, <strong class="font-semibold">Binago Team .Inc</strong></small
      >
      <small class="text-xs font-normal text-slate-400">East Kalimantan, Samarinda. Indonesia</small>
    </div>
  </div>
</footer>
