<!-- -->
{% load static %}

<div class="flex select-none flex-row justify-between p-5 text-white">
  <div class="flex flex-col gap-2">
    <!-- [Breadcrumb] -->
    <div class="breadcrumb">
      <span class="path__previous"> {{ breadcrumb.main }} </span>
      <!-- <span class="path__previous">/</span>
      <span class="text-sm font-semibold text-white">{{ breadcrumb.sub }}</span> -->
      {% for branch in breadcrumb.branch %}
      <!-- -->
      {% if branch.type == 'previous' %}
      <span class="path__previous">/</span>
      <a
        href="{{ branch.reverse }}"
        class="path__previous rounded-md px-2 py-1 transition-colors duration-150 ease-out hover:bg-black hover:bg-opacity-10"
        >{{ branch.name }}</a
      >
      {% else %}
      <span class="path">/</span>
      <a
        href="{{ branch.reverse }}"
        class="path rounded-md px-2 py-1 transition-colors duration-150 ease-out hover:bg-black hover:bg-opacity-10"
        >{{ branch.name|truncatechars:"30" }}</a
      >
      {% endif %}
      <!-- -->
      {% endfor %}
    </div>
    <!-- [Page Description / Title] -->
    <p class="font-dmSans mt-2 text-2xl font-medium">{{ description }}</p>
  </div>
  <!-- [Control TOP-RIGHT navigation] -->
  <div class="flex h-fit flex-row items-center gap-4">
    <button
      class="relative rounded-xl bg-black bg-opacity-10 px-4 py-3 transition-all duration-300 ease-out hover:bg-opacity-20 hover:shadow-sm"
      tabindex="-1"
    >
      <div class="font-poppins absolute top-2 left-2 h-5 w-5 rounded-full bg-red-500 text-center text-xs text-white">
        <span class="absolute top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4">5</span>
      </div>
      <img src="{% static 'backend/icons/notifications.svg' %}" alt="" srcset="" class="w-7" />
    </button>
    <button
      class="flex flex-row items-center gap-3 rounded-xl bg-black bg-opacity-10 px-4 py-3 transition-all duration-300 ease-out hover:bg-opacity-20 hover:shadow-sm"
      tabindex="-1"
    >
      <span class="font-poppins text-sm font-semibold">{{ user.username }}</span>
      <!-- example image: https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk -->
      <img
        src="{% get_media_prefix %}{{ user.avatar }}"
        alt=""
        srcset=""
        class="h-7 w-7 rounded-full border-2 border-white object-cover object-center"
      />
    </button>
  </div>
</div>
