{% load static tailwind_tags %}
<!-- -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>{{ title }}</title>
    {% block css %}
    <!-- custom css -->

    <!-- end custom css -->
    {% endblock %}
  </head>
  <body class="flex flex-col gap-5 bg-gray-50">
    <div
      class="absolute top-0 z-0 h-64 w-full rounded-b-3xl bg-gradient-to-br from-sky-500 via-blue-500 to-blue-500"
    ></div>
    <main class="relative flex flex-row gap-5 p-8">
      <!-- [Sidebar Navigation] -->
      {% include 'backend/layout/sidebar.html' %}
      <!-- [End Sidebar Navigation] -->
      <!-- [Page Content] -->
      <div class="flex w-full flex-col">
        <!-- [Top Menu Content] -->
        {% include 'backend/layout/header.html' %}
        <!-- [End Top Menu Content] -->
        <!-- [Main Container Area] -->
        <div class="p-5">
          {% block content %}
          <!-- [Content]-->

          <!-- [End of Content]-->
          {% endblock content %}
        </div>
        <!-- [End Main Container Area]-->
      </div>
      <!-- [End Page Content] -->
    </main>
    <!-- [Component Footer]-->
    {% include 'backend/layout/footer.html' %}
    <!-- [End of Component Footer]-->
    <!-- [JavaScript Resources]-->
    {% block js %}
    <!-- -->
    {% endblock js %}
    <script src="{% static 'backend/js/binago.js' %}"></script>
    <!-- [End of JavaScript Resources]-->
  </body>
</html>
