<!-- -->
{% load static %}

<!-- -->
{% load active_link_tags %}

<aside class="aside__navigation max-w-[255px]">
  <div class="flex h-full flex-col gap-8 overflow-y-scroll py-5 pr-5 pl-5" aria-role="aside-wrapper">
    <div class="self-center py-3">
      <img src="{% static 'web/logo.png' %}" alt="" srcset="" class="w-52 object-contain px-2" />
    </div>
    <hr />
    {% if user.is_staff or user.is_superuser %}
    <!-- MENU: ROOT -->
    <div class="">
      <a class="nav__menu" href="/admin/" target="_blank">
        <img src="{% static 'backend/icons/menu_root.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Root</p>
          <img src="{% static 'backend/icons/linking.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </a>
    </div>
    <hr />
    {% endif %}
    <!-- MENU: OVERVIEW -->
    <div class="">
      <div
        class="nav__menu {% active_link 'dashboard-events' 'nav__menu--active' strict=True %}"
        data-target-menu="menu-dashboard"
      >
        <img src="{% static 'backend/icons/menu_dashboard.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Overview</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'dashboard-events' 'indicator--active' strict=True %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-dashboard" class="nav__sub__menu">
        <a
          href="{% url 'dashboard-events' %}"
          class="link {% active_link 'dashboard-events' 'link--active' strict=True %}"
          >Events</a
        >
        <a href="" class="link">Payments</a>
        <a href="" class="link">Customer</a>
        <a href="" class="link">Provider</a>
      </div>
    </div>
    <!-- MENU: EVENTS -->
    <div class="">
      <div class="nav__menu {% active_link 'events' 'nav__menu--active' %}" data-target-menu="menu-events">
        <img src="{% static 'backend/icons/menu_events.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Events</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'events' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-events" class="nav__sub__menu nav__sub__menu--hide">
        <!-- history event -->
        <a href="{% url 'events-registered' %}" class="link {% active_link 'events-registered' 'link--active' %}">Registered</a>
        <a href="" class="link">Attended</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: ASSOCIATIONS -->
    <div class="">
      <div class="nav__menu {% active_link 'associations' 'nav__menu--active' %}" data-target-menu="menu-associations">
        <img src="{% static 'backend/icons/menu_associations.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Associations</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'associations' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-associations" class="nav__sub__menu nav__sub__menu--hide">
        <a href="{% url 'associations-data' %}" class="link {% active_link 'associations-data' 'link--active' %}"
          >Data</a
        >
        {% for member_of in registered_associations %}
        <hr />
        <div class="flex flex-row items-center gap-2">
          <img
            src="{% get_media_prefix %}{{ member_of.association.logo }}"
            alt=""
            srcset=""
            class="h-5 w-5 rounded-md object-cover object-center"
            draggable="false"
          />
          <a
            href="{% url 'associations-profile' member_of.association.slug %}"
            class="line-clamp-2 dynamic link {% active_link 'associations-profile' 'link--active' slug=member_of.association.slug %} w-full"
            >{{ member_of.association.name }}</a
          >
        </div>
        {% if forloop.last %}
        <hr />
        {% endif %}
        <!-- -->
        {% endfor %}
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: INVOICES -->
    <div class="">
      <div class="nav__menu" data-target-menu="menu-invoices">
        <img src="{% static 'backend/icons/menu_invoices.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Invoices</p>
          <img src="{% static 'backend/icons/chevron.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </div>
      <div id="menu-invoices" class="nav__sub__menu nav__sub__menu--hide">
        <a href="" class="link">Data</a>
        <a href="" class="link">Activity</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: COUPONS -->
    <div class="">
      <div class="nav__menu" data-target-menu="menu-coupons">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-6 w-6 object-contain text-pink-500">
          <path
            d="M5,4C3.343,4,2,5.343,2,7v2.184C3.163,9.597,4,10.696,4,12s-0.837,2.403-2,2.816V17c0,1.657,1.343,3,3,3h12V4H5z"
            opacity=".35"
            fill="currentColor"
          />
          <path
            d="M22,17v-2.184c-1.163-0.413-2-1.512-2-2.816s0.837-2.403,2-2.816V7c0-1.657-1.343-3-3-3h-2v16h2C20.657,20,22,18.657,22,17z"
            fill="currentColor"
          />
          <path
            fill-rule="evenodd"
            d="M9.783,8.467c0.098-0.184,0.289-0.299,0.497-0.299s0.4,0.115,0.497,0.299l0.944,1.78c0.011,0.021,0.026,0.038,0.045,0.052c0.019,0.014,0.041,0.023,0.064,0.027l1.984,0.348c0.205,0.036,0.374,0.182,0.438,0.381c0.064,0.198,0.014,0.416-0.131,0.566l-1.401,1.448c-0.016,0.017-0.028,0.037-0.036,0.059c-0.007,0.022-0.009,0.046-0.006,0.069l0.282,1.995c0.029,0.206-0.058,0.412-0.226,0.535c-0.169,0.123-0.391,0.142-0.578,0.05l-1.809-0.885c-0.021-0.01-0.044-0.016-0.067-0.016s-0.046,0.005-0.067,0.015l-1.809,0.885c-0.187,0.092-0.41,0.072-0.578-0.05c-0.169-0.123-0.256-0.328-0.226-0.535l0.282-1.995c0.003-0.023,0.001-0.047-0.006-0.069c-0.007-0.022-0.019-0.043-0.036-0.059l-1.401-1.448c-0.145-0.15-0.195-0.367-0.131-0.566c0.064-0.198,0.233-0.344,0.438-0.381l1.984-0.348c0.023-0.004,0.045-0.013,0.064-0.027c0.019-0.014,0.034-0.031,0.045-0.052L9.783,8.467z"
            clip-rule="evenodd"
            fill="currentColor"
          />
        </svg>
        <span class="flex w-full flex-row justify-between">
          <p>Coupons</p>
          <img src="{% static 'backend/icons/chevron.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </div>
      <div id="menu-coupons" class="nav__sub__menu nav__sub__menu--hide">
        <a href="" class="link">Data</a>
      </div>
    </div>
    <!-- MENU: USERS -->
    {% if user.is_superuser or user.is_staff %}
    <div class="">
      <div class="nav__menu {% active_link 'users' 'nav__menu--active' %}" data-target-menu="menu-users">
        <img src="{% static 'backend/icons/menu_users.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Users</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'users' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-users" class="nav__sub__menu nav__sub__menu">
        <a href="{% url 'users-data' %}" class="link {% active_link 'users-data' 'link--active' %}">Data</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    {% endif %}
    <!-- MENU: SETTINGS -->
    <div class="">
      <div class="nav__menu {% active_link 'settings' 'nav__menu--active' %}" data-target-menu="menu-settings">
        <img src="{% static 'backend/icons/menu_settings.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Settings</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'settings' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-settings" class="nav__sub__menu nav__sub__menu">
        <a href="{% url 'settings' %}" class="link {% active_link 'settings' 'link--active' %}">Profile</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="link w-full text-left"
            tabindex="-1"
            onclick="return confirm(`Are you sure want to logout?`)"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
    <hr />
    <small class="font-poppins mb-2 text-center text-xs text-slate-400">&copy; Binago Staff, 2023.</small>
  </div>
</aside>
