<!-- -->
{% load static %}

<!-- -->
{% load active_link_tags %}

<aside class="aside__navigation max-w-[255px]">
  <div class="flex h-full flex-col gap-8 overflow-y-scroll py-5 pr-5 pl-5" aria-role="aside-wrapper">
    <div class="self-center py-3">
      <img src="{% static 'web/logo.png' %}" alt="" srcset="" class="w-52 object-contain px-2" />
    </div>
    <hr />
    {% if user.is_staff or user.is_superuser %}
    <!-- MENU: ROOT -->
    <div class="">
      <a class="nav__menu" href="/admin/" target="_blank">
        <img src="{% static 'backend/icons/menu_root.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Root</p>
          <img src="{% static 'backend/icons/linking.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </a>
    </div>
    <hr />
    {% endif %}
    <!-- MENU: OVERVIEW -->
    <div class="">
      <div
        class="nav__menu {% active_link 'dashboard-events' 'nav__menu--active' strict=True %}"
        data-target-menu="menu-dashboard"
      >
        <img src="{% static 'backend/icons/menu_dashboard.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Overview</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'dashboard-events' 'indicator--active' strict=True %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-dashboard" class="nav__sub__menu">
        <a
          href="{% url 'dashboard-events' %}"
          class="link {% active_link 'dashboard-events' 'link--active' strict=True %}"
          >Events</a
        >
        <a href="" class="link">Payments</a>
        <a href="" class="link">Customer</a>
        <a href="" class="link">Provider</a>
      </div>
    </div>
    <!-- MENU: EVENTS -->
    <div class="">
      <div class="nav__menu {% active_link 'events' 'nav__menu--active' %}" data-target-menu="menu-events">
        <img src="{% static 'backend/icons/menu_events.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Events</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'events' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-events" class="nav__sub__menu nav__sub__menu--hide">
        {% comment %} <a href="{% url 'events' %}" class="link {% active_link 'events' 'link--active' %}">Data</a> {% endcomment %}
        <!-- history event -->
        <a href="" class="link">Attended</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: ASSOCIATIONS -->
    <div class="">
      <div class="nav__menu {% active_link 'associations' 'nav__menu--active' %}" data-target-menu="menu-associations">
        <img src="{% static 'backend/icons/menu_associations.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Associations</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'associations' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-associations" class="nav__sub__menu nav__sub__menu--hide">
        <a href="{% url 'associations-data' %}" class="link {% active_link 'associations-data' 'link--active' %}"
          >Data</a
        >
        <hr />
        {% for member_of in registered_associations %}
        <div class="flex flex-row items-center gap-2">
          <img
            src="{% get_media_prefix %}{{ member_of.association.logo }}"
            alt=""
            srcset=""
            class="h-5 w-5 rounded-md object-cover object-center"
            draggable="false"
          />
          <a
            href="{% url 'associations-profile' member_of.association.slug %}"
            class="line-clamp-2 dynamic link {% active_link 'associations-profile' 'link--active' slug=member_of.association.slug %} w-full"
            >{{ member_of.association.name }}</a
          >
        </div>
        {% endfor %}
        <hr />
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: INVOICES -->
    <div class="">
      <div class="nav__menu" data-target-menu="menu-invoices">
        <img src="{% static 'backend/icons/menu_invoices.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Invoices</p>
          <img src="{% static 'backend/icons/chevron.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </div>
      <div id="menu-invoices" class="nav__sub__menu nav__sub__menu--hide">
        <a href="" class="link">Data</a>
        <a href="" class="link">Activity</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: USERS -->
    <div class="">
      <div class="nav__menu" data-target-menu="menu-users">
        <img src="{% static 'backend/icons/menu_users.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Users</p>
          <img src="{% static 'backend/icons/chevron.svg' %}" alt="" srcset="" class="indicator" draggable="false" />
        </span>
      </div>
      <div id="menu-users" class="nav__sub__menu nav__sub__menu">
        <a href="" class="link">Data</a>
        <a href="" class="link">Summary</a>
      </div>
    </div>
    <!-- MENU: SETTINGS -->
    <div class="">
      <div class="nav__menu {% active_link 'settings' 'nav__menu--active' %}" data-target-menu="menu-settings">
        <img src="{% static 'backend/icons/menu_settings.svg' %}" alt="" srcset="" class="w-6" draggable="false" />
        <span class="flex w-full flex-row justify-between">
          <p>Settings</p>
          <img
            src="{% static 'backend/icons/chevron.svg' %}"
            alt=""
            srcset=""
            class="indicator {% active_link 'settings' 'indicator--active' %}"
            draggable="false"
          />
        </span>
      </div>
      <div id="menu-settings" class="nav__sub__menu nav__sub__menu">
        <a href="{% url 'settings' %}" class="link {% active_link 'settings' 'link--active' %}">Profile</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button
            type="submit"
            class="link w-full text-left"
            tabindex="-1"
            onclick="return confirm(`Are you sure want to logout?`)"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
    <hr />
    <small class="font-poppins mb-2 text-center text-xs text-slate-400">&copy; Binago Staff, 2023.</small>
  </div>
</aside>
