{% extends 'backend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% block content %}

<div class="grid select-none grid-cols-4">
  <div class="container col-span-4">
    <div class="flex flex-row justify-between">
      <div class="font-poppins flex flex-col gap-1">
        <p class="font-medium text-slate-900">Associations Datalist Views</p>
        <small class="text-xs font-light text-slate-600">Manage users' associations.</small>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
