{% load static tailwind_tags %}
<!-- -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Login</title>
  </head>
  <body class="rx bg-base-bg relative h-auto min-h-screen w-full select-none border-green-500">
    <div
      class="rx shadow-container1 absolute top-2/4 left-2/4 flex w-3/5 -translate-x-2/4 -translate-y-2/4 flex-row items-center overflow-hidden rounded-2xl bg-white p-16"
    >
      <div class="rx relative z-[1] flex w-full max-w-[55%] flex-col gap-16 border-blue-500 p-8">
        <div class="flex flex-col gap-1">
          <div class="text-base-field flex flex-row items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-7">
              <path
                d="M12 2C6.477 2 2 6.477 2 12C2 17.523 6.477 22 12 22C17.523 22 22 17.523 22 12C22 6.477 17.523 2 12 2 z M 12 4C16.418 4 20 7.582 20 12C20 16.418 16.418 20 12 20C7.582 20 4 16.418 4 12C4 7.582 7.582 4 12 4 z M 11.292969 7.2929688L6.5859375 12L11.292969 16.707031L12.707031 15.292969L10.414062 13L17 13L17 11L10.414062 11L12.707031 8.7070312L11.292969 7.2929688 z"
                fill="currentColor"
              />
            </svg>
            <h1 class="font-poppins text-2xl font-bold">SIGN IN</h1>
          </div>
          <p class="text-base-sub font-poppins text-sm font-normal">Welcome back! Please fill the form to login.</p>
        </div>
        <div class="flex flex-col gap-5">
          <input
            type="text"
            name=""
            id=""
            placeholder="Your username..."
            class="font-dmSans text-base-field rounded-lg border-none bg-zinc-50 py-4 px-8 text-sm font-semibold outline-none transition-all duration-150 ease-out focus:bg-zinc-100 focus:ring-0"
          />
          <input
            type="password"
            name=""
            id=""
            placeholder="Your password..."
            class="font-dmSans text-base-field rounded-lg border-none bg-zinc-50 py-4 px-8 text-sm font-semibold outline-none transition-all duration-150 ease-out focus:bg-zinc-100 focus:ring-0"
          />
          <small class="font-poppins text-base-sub ml-3 text-xs"
            >Didn't have account yet? <a href="" class="text-base-field ml-1 mt-4 text-sm font-bold">Register</a></small
          >
        </div>
        <div class="flex flex-col gap-3">
          <input
            type="button"
            value="LOGIN"
            class="font-montserrat bg-base-field cursor-pointer rounded-xl py-3 px-5 text-xs font-bold uppercase text-white transition-all duration-100 ease-out hover:bg-gray-900 active:scale-[.98]"
          />
          <button
            class="font-montserrat bg-base-smoke text-base-field flex cursor-pointer flex-row items-center justify-center gap-3 rounded-xl py-3 px-5 text-xs font-bold transition-all duration-100 ease-out hover:bg-gray-100 active:scale-[.98]"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="w-5">
              <path
                fill="#FFC107"
                d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"
              />
              <path
                fill="#FF3D00"
                d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"
              />
              <path
                fill="#4CAF50"
                d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"
              />
              <path
                fill="#1976D2"
                d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"
              />
              <span>Auth with Google</span>
            </svg>
          </button>
        </div>
      </div>
      <img
        src="{% static 'web/assets/login_image.png' %}"
        alt=""
        srcset=""
        class="absolute right-0 top-0 bottom-0 z-0 h-full w-2/5 object-cover object-left"
      />
    </div>
  </body>
</html>
