{% extends 'backend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% block content %}
<div class="select-none grid grid-cols-3 gap-7">
  <span class="select-none">
    <div class="shadow-container3 flex h-max flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <small class="font-jost text-sm font-semibold uppercase text-slate-400">
            <span class="rounded-md bg-emerald-500 bg-opacity-10 px-1 py-[2px] text-xs text-emerald-500">cm</span>
            vs
            <span class="rounded-md bg-slate-500 bg-opacity-10 px-1 py-[2px] text-xs text-slate-500">lm</span>
            Comparison Registered users
          </small>
          {% with data=summary_comparison_registered_user %}
          <span class="font-dmSans py-5 pl-1 text-5xl font-semibold text-slate-900">{{ data.cm }}</span>
          <small class="font-poppins text-xs font-medium text-slate-600">
            Registered users
            {% if data.is_growing == True %}
            <strong class="font-semibold text-green-600">{{ data.is_growing|yesno:"+,-,≈" }}{{ data.percent }}% ({{ data.diff }})</strong>
            {% elif data.is_growing == False %}
            <strong class="font-semibold text-red-600">{{ data.is_growing|yesno:"+,-,≈" }}{{ data.percent }}% ({{ data.diff }})</strong>
            {% elif data.is_growing == None %}
            <strong class="font-semibold">{{ data.is_growing|yesno:"+,-,≈" }}{{ data.percent }}% ({{ data.diff }})</strong>
            {% endif %}
            since the last
            month.
          </small>
          {% endwith %}
        </div>
        <div class="">
          <div id="chart-widget-1" class="h-32 w-32"></div>
        </div>
      </div>
    </div>
  </span>
  <span class="select-none">
    <div class="shadow-container3 flex h-max flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <small class="font-jost text-sm font-semibold uppercase text-slate-400">
            <span class="rounded-md bg-emerald-500 bg-opacity-10 px-1 py-[2px] text-emerald-500">Free</span>
            vs
            <span class="rounded-md bg-blue-500 bg-opacity-10 px-1 py-[2px] text-blue-500">Paid</span>
            Events
          </small>
          <span class="font-dmSans py-5 pl-1 text-5xl font-semibold text-slate-900">260</span>
          <small class="font-poppins text-xs font-medium text-slate-600"
            >Registered events <strong class="font-semibold text-green-600">+30% (78)</strong> since the last
            month.</small
          >
        </div>
        <div class="">
          <div id="chart-widget-2" class="h-32 w-32"></div>
        </div>
      </div>
    </div>
  </span>
  <span class="select-none">
    <div
      class="shadow-container3 relative flex h-max flex-col gap-4 overflow-hidden rounded-xl bg-gradient-to-br from-sky-500 to-blue-500 p-5"
    >
      <div class="z-[1] flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <small class="font-jost text-sm font-semibold uppercase text-white text-opacity-70">Overall Ratings</small>
          <span
            class="font-dmSans flex flex-row items-center gap-2 py-5 pl-1 text-5xl font-semibold text-white text-opacity-90"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-16 text-white text-opacity-80"
            >
              <path
                fill-rule="evenodd"
                d="M10.702,2.781C10.957,2.301,11.456,2,12,2s1.043,0.301,1.298,0.781l2.463,4.645c0.028,0.054,0.069,0.1,0.118,0.136c0.049,0.036,0.106,0.06,0.166,0.07l5.178,0.907c0.536,0.094,0.975,0.476,1.144,0.993c0.168,0.517,0.037,1.085-0.342,1.476l-3.656,3.778c-0.042,0.044-0.074,0.097-0.093,0.154c-0.019,0.058-0.024,0.119-0.016,0.18l0.737,5.205c0.076,0.538-0.151,1.075-0.591,1.395c-0.44,0.32-1.02,0.37-1.509,0.131l-4.722-2.31C12.121,19.514,12.061,19.5,12,19.5s-0.121,0.014-0.176,0.04l-4.722,2.31c-0.489,0.239-1.069,0.188-1.509-0.131c-0.44-0.32-0.667-0.856-0.591-1.395l0.737-5.205c0.009-0.06,0.003-0.122-0.016-0.18c-0.019-0.058-0.05-0.111-0.093-0.154l-3.656-3.778c-0.378-0.391-0.51-0.959-0.342-1.476c0.168-0.517,0.608-0.899,1.144-0.993l5.178-0.907c0.06-0.011,0.117-0.035,0.166-0.07c0.049-0.036,0.09-0.082,0.118-0.136L10.702,2.781z"
                clip-rule="evenodd"
              />
            </svg>
            <p class="flex flex-row items-end font-semibold">
              4,3 <small class="text-xs font-normal opacity-70">/ 5.0</small>
            </p>
          </span>
          <small class="font-poppins text-xs font-medium text-slate-100"
            >From <strong class="font-semibold text-green-200">78</strong> users that attended in different webinars
            over the month.</small
          >
        </div>
      </div>
      <img
        src="{% static 'web/assets/ui_widget_stars.png' %}"
        alt=""
        srcset=""
        class="absolute inset-0 z-0 h-full w-full scale-110 object-cover object-center opacity-50"
      />
      <div class="absolute bottom-0 left-0 right-0 z-0 h-14 w-full bg-gradient-to-t from-sky-500 to-transparent"></div>
    </div>
  </span>
  <span class="col-span-2 flex flex-col gap-7">
    <div class="shadow-container3 flex flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">Total registered users into events</p>
          <small class="text-xs font-light text-slate-600"
            >Count every users that attended in many webinar in this month.</small
          >
        </div>
        <span class="h-fit rounded-md bg-blue-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-blue-500"
          >Monthly</span
        >
      </div>
      <div class="container__group">
        <div id="main" class="h-96"></div>
      </div>
    </div>
    <div class="shadow-container3 flex flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">Total registered events</p>
          <small class="text-xs font-light text-slate-600"
            >Accumulate the total of published (succesfuly paid) events and unpublished events.</small
          >
        </div>
        <span class="h-fit rounded-md bg-blue-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-blue-500"
          >Monthly</span
        >
      </div>
      <span class="container__group">
        <div id="chart-registered-events" class="h-96"></div>
      </span>
    </div>
  </span>
  <span class="flex flex-col gap-7">
    <div class="shadow-container3 flex h-max flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">Yearly Accumulation</p>
          <small class="text-xs font-light text-slate-600"
            >Summaries of events (published & unpublished), user registrant.</small
          >
        </div>
        <span class="h-fit rounded-md bg-red-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-red-500"
          >Yearly</span
        >
      </div>
      <div class="container__group">
        <div id="chart-accumulation-yearly" class="h-[45rem]"></div>
      </div>
    </div>
    <div class="shadow-container3 flex h-max flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">Event categories</p>
          <small class="text-xs font-light text-slate-600"
            >Summaries of created events this month based on each categories.</small
          >
        </div>
        <span class="h-fit rounded-md bg-blue-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-blue-500"
          >Monthly</span
        >
      </div>
      <div class="container__group">
        <div id="main-donuts" class="h-96"></div>
      </div>
    </div>
  </span>
  <span class="col-span-3">
    <div class="shadow-container3 flex flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">The latest ratings by Attended</p>
          <small class="text-xs font-light text-slate-600"
            >Only valid users that attended to the event can giving an rating.</small
          >
        </div>
        <span class="h-fit rounded-md bg-blue-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-blue-500"
          >Monthly</span
        >
      </div>
      <div class="my-5 overflow-x-auto">
        <table class="w-full items-center">
          <thead>
            <tr>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                no
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                event
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                message
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                rating by
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                update at
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">1</p>
              </td>
              <td
                class="max-w-[105px] place-items-center content-center items-center justify-center border-b border-b-gray-200 px-6 py-4"
              >
                <img
                  src="{% static 'examples/4.png' %}"
                  alt=""
                  srcset=""
                  class="shadow-container1 h-20 w-36 rounded-xl object-cover object-center"
                  draggable="false"
                />
              </td>
              <td class="font-jost max-w-[250px] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <p class="line-clamp-2">
                  "Solid fundamental explanation. Given it's from Microsoft, providing best real case example so we can
                  absorb the materials every details."
                </p>
              </td>
              <td class="border-b border-b-gray-200 px-6 py-4">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="flex flex-row items-center">
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star_half.svg' %}" alt="" srcset="" class="w-4" />
                    </div>
                    <span
                      class="font-quicksand rounded-lg bg-yellow-500 bg-opacity-10 px-2 py-1 text-xs font-semibold text-yellow-500"
                    >
                      4.5/5
                    </span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <img
                      src="https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk"
                      alt=""
                      srcset=""
                      class="h-5 w-5 rounded-full object-center"
                    />
                    <p class="font-inter text-sm font-medium text-slate-400">Mr. Tanaka</p>
                  </div>
                </div>
              </td>
              <td class="font-inter border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500">
                5 hours ago.
              </td>
            </tr>
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">2</p>
              </td>
              <td
                class="max-w-[105px] place-items-center content-center items-center justify-center border-b border-b-gray-200 px-6 py-4"
              >
                <img
                  src="{% static 'examples/3.png' %}"
                  alt=""
                  srcset=""
                  class="shadow-container1 h-20 w-36 rounded-xl object-cover object-center"
                  draggable="false"
                />
              </td>
              <td class="font-jost max-w-[250px] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <p class="line-clamp-2">
                  "Really Comprehensive explanation, easy going and provide complete materials at the and in free."
                </p>
              </td>
              <td class="border-b border-b-gray-200 px-6 py-4">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="flex flex-row items-center">
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star_half.svg' %}" alt="" srcset="" class="w-4" />
                    </div>
                    <span
                      class="font-quicksand rounded-lg bg-yellow-500 bg-opacity-10 px-2 py-1 text-xs font-semibold text-yellow-500"
                    >
                      4.5/5
                    </span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <img
                      src="https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk"
                      alt=""
                      srcset=""
                      class="h-5 w-5 rounded-full object-center"
                    />
                    <p class="font-inter text-sm font-medium text-slate-400">Mr. Tanaka</p>
                  </div>
                </div>
              </td>
              <td class="font-inter border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500">
                5 hours ago.
              </td>
            </tr>
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">3</p>
              </td>
              <td
                class="max-w-[105px] place-items-center content-center items-center justify-center border-b border-b-gray-200 px-6 py-4"
              >
                <img
                  src="{% static 'examples/1.jpg' %}"
                  alt=""
                  srcset=""
                  class="shadow-container1 h-20 w-36 rounded-xl object-cover object-center"
                  draggable="false"
                />
              </td>
              <td class="font-jost max-w-[250px] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <p class="line-clamp-2">
                  "Materials is easy to understand, but the explanation is not quite friendly for beginner I think,
                  since there's lot section that I didn't understand when to use it and what different with the other
                  tools."
                </p>
              </td>
              <td class="border-b border-b-gray-200 px-6 py-4">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="flex flex-row items-center">
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star_half.svg' %}" alt="" srcset="" class="w-4" />
                    </div>
                    <span
                      class="font-quicksand rounded-lg bg-yellow-500 bg-opacity-10 px-2 py-1 text-xs font-semibold text-yellow-500"
                    >
                      4.5/5
                    </span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <img
                      src="https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk"
                      alt=""
                      srcset=""
                      class="h-5 w-5 rounded-full object-center"
                    />
                    <p class="font-inter text-sm font-medium text-slate-400">Mr. Tanaka</p>
                  </div>
                </div>
              </td>
              <td class="font-inter border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500">
                5 hours ago.
              </td>
            </tr>
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">4</p>
              </td>
              <td
                class="max-w-[105px] place-items-center content-center items-center justify-center border-b border-b-gray-200 px-6 py-4"
              >
                <img
                  src="{% static 'examples/2.jpg' %}"
                  alt=""
                  srcset=""
                  class="shadow-container1 h-20 w-36 rounded-xl object-cover object-center"
                  draggable="false"
                />
              </td>
              <td class="font-jost max-w-[250px] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <p class="line-clamp-2">
                  “Really Comprehensive explanation, easy going and provide complete materials at the and in free.”
                </p>
              </td>
              <td class="border-b border-b-gray-200 px-6 py-4">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="flex flex-row items-center">
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star_half.svg' %}" alt="" srcset="" class="w-4" />
                    </div>
                    <span
                      class="font-quicksand rounded-lg bg-yellow-500 bg-opacity-10 px-2 py-1 text-xs font-semibold text-yellow-500"
                    >
                      4.5/5
                    </span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <img
                      src="https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk"
                      alt=""
                      srcset=""
                      class="h-5 w-5 rounded-full object-center"
                    />
                    <p class="font-inter text-sm font-medium text-slate-400">Mr. Tanaka</p>
                  </div>
                </div>
              </td>
              <td class="font-inter border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500">
                5 hours ago.
              </td>
            </tr>
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">5</p>
              </td>
              <td
                class="max-w-[105px] place-items-center content-center items-center justify-center border-b border-b-gray-200 px-6 py-4"
              >
                <img
                  src="{% static 'examples/5.png' %}"
                  alt=""
                  srcset=""
                  class="shadow-container1 h-20 w-36 rounded-xl object-cover object-center"
                  draggable="false"
                />
              </td>
              <td class="font-jost max-w-[250px] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <p class="line-clamp-2">
                  “Really Comprehensive explanation, easy going and provide complete materials at the and in free.”
                </p>
              </td>
              <td class="border-b border-b-gray-200 px-6 py-4">
                <div class="flex flex-col gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="flex flex-row items-center">
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star.svg' %}" alt="" srcset="" class="w-4" />
                      <img src="{% static 'backend/icons/star_half.svg' %}" alt="" srcset="" class="w-4" />
                    </div>
                    <span
                      class="font-quicksand rounded-lg bg-yellow-500 bg-opacity-10 px-2 py-1 text-xs font-semibold text-yellow-500"
                    >
                      4.5/5
                    </span>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <img
                      src="https://play-lh.googleusercontent.com/hYdIazwJBlPhmN74Yz3m_jU9nA6t02U7ZARfKunt6dauUAB6O3nLHp0v5ypisNt9OJk"
                      alt=""
                      srcset=""
                      class="h-5 w-5 rounded-full object-center"
                    />
                    <p class="font-inter text-sm font-medium text-slate-400">Mr. Tanaka</p>
                  </div>
                </div>
              </td>
              <td class="font-inter border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500">
                5 hours ago.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="flex flex-row justify-between">
        <span class="flex flex-row items-center gap-1">
          <p class="text-sm text-slate-600">
            Showing <strong>1</strong> to <strong>3</strong> of <strong>100</strong> entries.
          </p>
        </span>
        <div class="flex flex-row items-center gap-2">
          <button
            class="font-poppins relative h-10 w-10 rounded-lg bg-blue-500 text-sm font-semibold text-white hover:bg-opacity-80"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">1</p>
          </button>
          <button
            class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">2</p>
          </button>
          <button
            class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">3</p>
          </button>
        </div>
      </div>
    </div>
  </span>
  <span class="col-span-3">
    <div class="shadow-container3 flex h-max flex-col gap-4 rounded-xl bg-white p-5">
      <div class="flex flex-row justify-between">
        <div class="font-poppins flex flex-col gap-1">
          <p class="font-medium text-slate-900">Events on this months</p>
          <small class="text-xs font-light text-slate-600"
            >Shows the events that registered in this months. It's included event that already done, upcoming and even
            today.</small
          >
        </div>
        <span class="h-fit rounded-md bg-blue-400 bg-opacity-10 px-3 py-2 text-sm font-semibold text-blue-500"
          >Monthly</span
        >
      </div>
      <div class="container__group">
        <div id="calendar" class="calendar h-[36rem]"></div>
      </div>
    </div>
  </span>
</div>
<input type="hidden" value="{{ timeline }}" id="timeline" />
<input type="hidden" value="{{ summary_by_categories }}" id="summary_by_categories" />
<input type="hidden" value="{{ summary_user_registered }}" id="summary_user_registered" />
<input type="hidden" value="{{ summary_events_registered }}" id="summary_events_registered" />
<input type="hidden" value="{{ summary_accumulation_yearly }}" id="summary_accumulation_yearly" />
<input type="hidden" value="{{ summary_comparison_registered_user.dumps }}" id="summary_comparison_registered_user">
{% endblock content %}

<!-- -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
<script src="{% static 'backend/js/binago_dashboard_events.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
<script>
  let chartTotalRegisteredUser = document.querySelector('#main')
  let dataUserRegistered = document.querySelector('#summary_user_registered').value;
  let myChart = echarts.init(chartTotalRegisteredUser)
  let option = {
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    legend: {
      show: true,
      data: ['Total Registrant']
    },
    toolbox: {
      feature: {
        saveAsImage: {},
        dataView: {
          readOnly: true
        }
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: JSON.parse(dataUserRegistered).x_label
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        name: 'Total Registrant',
        data: JSON.parse(dataUserRegistered).data,
        tooltip: {
          show: true,
          trigger: 'axis'
        },
        type: 'line',
        smooth: true,
        areaStyle: {
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
            {
              offset: 1,
              color: '#FFFFFF'
            },
            {
              offset: 0,
              color: '#5E72E4'
            }
          ])
        }
      }
    ],
    tooltip: {
      show: true,
      trigger: 'axis',
      axisPointer: {
        animation: false,
        type: 'shadow'
      },
      formatter: params => {
        var colorSpan = color => '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + color + '"></span>';
        let tip = `<p>Days <strong>${params[0].axisValue}</strong></p>`
        params.forEach(item => {
          let tmp = `<p>${colorSpan(item.color)} ${item.data} Registrant.</p>`
          tip += tmp
        })
        return tip
      }
    }
  };
  option && myChart.setOption(option);
</script>
<script>
  let chartTotalRegisteredEvent = document.querySelector('#chart-registered-events')
  let dataEventRegistered = document.querySelector('#summary_events_registered').value;
  let _chartTotalRegisteredEvent = echarts.init(chartTotalRegisteredEvent)
  let optionTotalRegisteredEvent = {
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    legend: {
      show: true,
      data: ['Published Events', 'Unpublished Events']
    },
    toolbox: {
      feature: {
        saveAsImage: {},
        dataView: {
          readOnly: true
        }
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: JSON.parse(dataEventRegistered).x_label
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        name: 'Published Events',
        data: JSON.parse(dataEventRegistered).data_published,
        tooltip: {
          show: true,
          trigger: 'axis'
        },
        type: 'line',
        smooth: true,
      },
      {
        name: 'Unpublished Events',
        data: JSON.parse(dataEventRegistered).data_unpublished,
        tooltip: {
          show: true,
          trigger: 'axis'
        },
        type: 'line',
        smooth: true,
      }
    ],
    tooltip: {
      show: true,
      trigger: 'axis',
      axisPointer: {
        animation: false,
        type: 'shadow'
      },
      formatter: params => {
        var colorSpan = color => '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + color + '"></span>';
        let tip = `<p>Days <strong>${params[0].axisValue}</strong></p>`
        params.forEach(item => {
          let tmp = `<p>${colorSpan(item.color)} ${item.data} ${item.seriesName}.</p>`
          tip += tmp
        })
        return tip
      }
    }
  };
  optionTotalRegisteredEvent && _chartTotalRegisteredEvent.setOption(optionTotalRegisteredEvent);
</script>
<script>
  // TODO: need to improve to parsing json
  const chartDomDonuts = document.querySelector('#main-donuts');
  let value = document.querySelector('#summary_by_categories').value;
  const myChartDonuts = echarts.init(chartDomDonuts);
  const optionDonuts = {
    tooltip: {
      trigger: 'item',
    },
    legend: {
      top: '5%',
      left: 'center',
    },
    toolbox: {
      feature: {
        saveAsImage: {},
        dataView: {
          readOnly: true
        }
      }
    },
    series: [
      {
        name: 'Access From',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
          borderRadius: 10,
          borderColor: '#fff',
          borderWidth: 2,
        },
        label: {
          show: false,
          position: 'center',
        },
        emphasis: {
          label: {
            show: true,
            fontSize: 40,
            fontWeight: 'bold',
          },
        },
        labelLine: {
          show: false,
        },
        data: JSON.parse(value),
      },
    ],
  };

  optionDonuts && myChartDonuts.setOption(optionDonuts);
</script>
<script>
  const chartAccumulationYearly = document.querySelector('#chart-accumulation-yearly');
  let dataAccumulationYearly = document.querySelector('#summary_accumulation_yearly').value;
  const _chartAccumulationYearly = echarts.init(chartAccumulationYearly);

  let optionAccumulationYearly = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'shadow',
        animation: false,
      }
    },
    legend: {},
    toolbox: {
      feature: {
        saveAsImage: {},
        dataView: {
          readOnly: true
        }
      }
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: {
      type: 'value',
      boundaryGap: [0, 0.01]
    },
    yAxis: {
      type: 'category',
      data: JSON.parse(dataAccumulationYearly).y_label,
    },
    series: [
      {
        name: 'Published Events',
        type: 'bar',
        data: JSON.parse(dataAccumulationYearly).data.events_published,
      },
      {
        name: 'Unpublished Events',
        type: 'bar',
        data: JSON.parse(dataAccumulationYearly).data.events_unpublished,
      },
      {
        name: 'Total Registrant',
        type: 'bar',
        data: JSON.parse(dataAccumulationYearly).data.users_registered,
      }
    ]
  };

  optionAccumulationYearly && _chartAccumulationYearly.setOption(optionAccumulationYearly)
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const timeline = document.querySelector('#timeline').value;
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'listMonth,dayGridMonth,timeGridWeek,timeGridDay',
      },
      showNonCurrentDates: false,
      selectable: true,
      nowIndicator: true,
      events: JSON.parse(timeline),
      eventDidMount: (info) => {
        if (info.event.extendedProps.customRender) {
          info.el.classList.add('calendar__event');
        }
        if (info.event.extendedProps.customRender && info.event.extendedProps.colorStyle) {
          info.el.classList.add(info.event.extendedProps.colorStyle);
        }
      },
    });
    calendar.render();
  });
</script>
{% endblock js %}
