<!-- -->
{% extends 'backend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% load events_extras %}

<!-- -->
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/animations/scale.css" />
<!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />-->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
  integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{% endblock %}

<!-- -->
{% block content %}

<div class="grid select-none grid-cols-6">
  <form class="container col-span-4 col-start-2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-row justify-between">
      <div class="font-poppins flex flex-col gap-1">
        <p class="font-medium text-slate-900">Add new event</p>
        <small class="text-xs font-light text-slate-600">Kindly complete the form below to create a new event.</small>
      </div>
    </div>
    <div class="container__group grid grid-cols-3 gap-6">
      <div class="col-span-3 flex flex-col gap-2">
        <label for="title" class="cursor-pointer text-sm font-semibold text-slate-500">Title</label>
        {{ forms.title }} {% for error in forms.title.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <label for="max-audience" class="cursor-pointer text-sm font-semibold text-slate-500">Maximum Audience</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 cursor-pointer text-slate-500 outline-none transition-all duration-150 ease-out hover:scale-110 hover:text-slate-700"
            data-tippy-content="Limit the maximum of user who can register to the event"
          >
            <path
              d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.5,19h-1c-0.276,0-0.5-0.224-0.5-0.5v-1 c0-0.276,0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5v1C13,18.776,12.776,19,12.5,19z M15.07,11.25l-0.9,0.92 C13.45,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.45-2.1,1.17-2.83l1.24-1.26c0.457-0.444,0.685-1.102,0.553-1.803 c-0.135-0.717-0.688-1.327-1.389-1.526c-1.106-0.314-2.137,0.319-2.466,1.272C9.98,8.724,9.668,9,9.275,9H8.984 C8.403,9,7.997,8.436,8.159,7.878c0.429-1.472,1.681-2.593,3.225-2.831c1.524-0.235,2.969,0.549,3.873,1.799 C16.437,8.478,16.089,10.231,15.07,11.25z"
            />
          </svg>
        </div>
        {{ forms.max_audience }} {% for error in forms.max_audience.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <!--<input
          type="number"
          min="0"
          name="max-audience"
          id="max-audience"
          class="input__field"
          placeholder="Total max audience / seat"
        />-->
      </div>
      <div class="flex flex-col gap-2">
        <label for="fee" class="cursor-pointer text-sm font-semibold text-slate-500">Registration Fee</label>
        {{ forms.price }} {% for error in forms.price.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <!--<input
          type="number"
          min="0"
          value="0"
          name="fee"
          id="fee"
          class="input__field"
          placeholder="Set it to 0 if it's free"
        />-->
      </div>
      <div class="flex flex-col gap-2">
        <label for="category" class="cursor-pointer text-sm font-semibold text-slate-500">Event Categories</label>
        {{ forms.category }} {% for error in forms.category.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <!--<input
          type="text"
          min="0"
          name="category"
          id="category"
          class="input__field"
          placeholder="Category event field"
        />-->
      </div>
      <div class="col-span-3 flex flex-col gap-2">
        <label for="description" class="cursor-pointer text-sm font-semibold text-slate-500">Event Description</label>
        {{ forms.description }} {% for error in forms.description.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <!--<textarea
          name="description"
          id="description"
          rows="4"
          class="input__field min-h-[50px]"
          placeholder="Describe your event goals..."
          spellcheck="false"
        ></textarea>-->
      </div>
      <div class="col-span-3 flex flex-col gap-2">
        <label for="banner" class="cursor-pointer text-sm font-semibold text-slate-500">Banner Image</label>
        <div class="grid grid-cols-2 gap-5">
          <img
            src="{% get_media_prefix %}{{ forms.banner.value }}"
            alt=""
            srcset=""
            id="preview_banner"
            class="h-40 w-full cursor-pointer rounded-xl border border-slate-200 bg-white object-cover ring ring-transparent transition-all duration-150 ease-out hover:border-transparent hover:ring-blue-500 hover:ring-offset-1"
          />
          <div class="flex flex-col gap-2">
            <label for="{{ forms.banner.id_for_label }}" class="cursor-pointer text-sm font-semibold text-slate-500"
              >Upload your event banner</label
            >
            <div class="hidden">{{ forms.banner }}</div>
            <!-- -->
            {% for error in forms.banner.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <label
              for="{{ forms.banner.id_for_label }}"
              class="relative flex min-w-0 flex-auto flex-grow-0 cursor-pointer flex-row items-center overflow-hidden rounded-xl border border-slate-200 bg-white bg-clip-padding text-xs ring ring-transparent ring-offset-0 transition-all duration-150 ease-out file:text-sm file:text-neutral-700 hover:ring-blue-500 hover:ring-offset-2 focus:text-neutral-700 focus:shadow-[0_0_0_1px] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-1"
            >
              <span class="border-r border-slate-200 bg-neutral-100 px-4 py-3 text-sm">Choose File</span>
              <span class="line-clamp-1 mx-4 my-3">Upload new banner to replace.</span>
            </label>
            <!--<input
              type="file"
              name="banner"
              id="banner"
              class="relative block min-w-0 flex-auto flex-grow-0 rounded-xl border border-slate-200 bg-white bg-clip-padding text-xs ring-0 transition-all duration-150 ease-out file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-4 file:py-3 file:text-sm file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[margin-inline-end:0.75rem] file:[border-inline-end-width:1px] hover:file:bg-neutral-200 focus:text-neutral-700 focus:shadow-[0_0_0_1px] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-1"
            />-->
            <small class="text-xs font-light text-slate-600">Maximum image size is 5.0 Mb</small>
          </div>
        </div>
      </div>
      <div class="col-span-3 flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <label
            for="{{ forms_coverage.coverage.id_for_label }}"
            class="cursor-pointer text-sm font-semibold text-slate-500"
            >Event Coverage</label
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 cursor-pointer text-slate-500 outline-none transition-all duration-150 ease-out hover:scale-110 hover:text-slate-700"
            data-tippy-content="Events coverage. Separate with double Vertical Bars (||)."
          >
            <path
              d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.5,19h-1c-0.276,0-0.5-0.224-0.5-0.5v-1 c0-0.276,0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5v1C13,18.776,12.776,19,12.5,19z M15.07,11.25l-0.9,0.92 C13.45,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.45-2.1,1.17-2.83l1.24-1.26c0.457-0.444,0.685-1.102,0.553-1.803 c-0.135-0.717-0.688-1.327-1.389-1.526c-1.106-0.314-2.137,0.319-2.466,1.272C9.98,8.724,9.668,9,9.275,9H8.984 C8.403,9,7.997,8.436,8.159,7.878c0.429-1.472,1.681-2.593,3.225-2.831c1.524-0.235,2.969,0.549,3.873,1.799 C16.437,8.478,16.089,10.231,15.07,11.25z"
            />
          </svg>
        </div>
        {{ forms_coverage.coverage }}
      </div>
      <!--
      <div class="col-span-3 flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <label class="cursor-pointer text-sm font-semibold text-slate-500">Event Schedules</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 cursor-pointer text-slate-500 outline-none transition-all duration-150 ease-out hover:scale-110 hover:text-slate-700"
            data-tippy-content="[1] Select the schedule to start and write the time event on below. [2] The second date will be the schedule to end the event."
          >
            <path
              d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.5,19h-1c-0.276,0-0.5-0.224-0.5-0.5v-1 c0-0.276,0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5v1C13,18.776,12.776,19,12.5,19z M15.07,11.25l-0.9,0.92 C13.45,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.45-2.1,1.17-2.83l1.24-1.26c0.457-0.444,0.685-1.102,0.553-1.803 c-0.135-0.717-0.688-1.327-1.389-1.526c-1.106-0.314-2.137,0.319-2.466,1.272C9.98,8.724,9.668,9,9.275,9H8.984 C8.403,9,7.997,8.436,8.159,7.878c0.429-1.472,1.681-2.593,3.225-2.831c1.524-0.235,2.969,0.549,3.873,1.799 C16.437,8.478,16.089,10.231,15.07,11.25z"
            />
          </svg>
        </div>
        <div class="grid grid-cols-2 gap-6">
          <div class="flex flex-col gap-2">
            <label class="text-xs font-light text-slate-600">Event Start</label>
            {{ forms.schedule_start }}
            <hr />
            {% for error in forms.schedule_start.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            <span class="bg-red-500 text-white">{{ forms.non_field_errors }}</span>
          </div>
          <div class="flex flex-col gap-2">
            <label class="text-xs font-light text-slate-600">Event End</label>
            {{ forms.schedule_end }}
            {% for error in forms.schedule_end.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <small class="text-xs font-light text-slate-600">Make sure you're inputing the right schedule.</small>
      </div>
      -->
      <div class="col-span-3 flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <label for="url-stream" class="cursor-pointer text-sm font-semibold text-slate-500">URL Stream</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 cursor-pointer text-slate-500 outline-none transition-all duration-150 ease-out hover:scale-110 hover:text-slate-700"
            data-tippy-content="If you have pre-url to stream, you can provided it below."
          >
            <path
              d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.5,19h-1c-0.276,0-0.5-0.224-0.5-0.5v-1 c0-0.276,0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5v1C13,18.776,12.776,19,12.5,19z M15.07,11.25l-0.9,0.92 C13.45,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.45-2.1,1.17-2.83l1.24-1.26c0.457-0.444,0.685-1.102,0.553-1.803 c-0.135-0.717-0.688-1.327-1.389-1.526c-1.106-0.314-2.137,0.319-2.466,1.272C9.98,8.724,9.668,9,9.275,9H8.984 C8.403,9,7.997,8.436,8.159,7.878c0.429-1.472,1.681-2.593,3.225-2.831c1.524-0.235,2.969,0.549,3.873,1.799 C16.437,8.478,16.089,10.231,15.07,11.25z"
            />
          </svg>
        </div>
        {{ forms.url_stream }}
        <!-- -->
        {% for error in forms.url_stream.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      <div class="col-span-3 flex flex-col gap-2">
        <div class="flex flex-row items-center gap-2">
          <label for="{{ forms.url_homepage.id_for_label }}" class="cursor-pointer text-sm font-semibold text-slate-500"
            >URL Reference (Organizer)</label
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 cursor-pointer text-slate-500 outline-none transition-all duration-150 ease-out hover:scale-110 hover:text-slate-700"
            data-tippy-content="If your event is referenced from your organizers site, you can provided it as additional information."
          >
            <path
              d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M12.5,19h-1c-0.276,0-0.5-0.224-0.5-0.5v-1 c0-0.276,0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5v1C13,18.776,12.776,19,12.5,19z M15.07,11.25l-0.9,0.92 C13.45,12.9,13,13.5,13,15h-2v-0.5c0-1.1,0.45-2.1,1.17-2.83l1.24-1.26c0.457-0.444,0.685-1.102,0.553-1.803 c-0.135-0.717-0.688-1.327-1.389-1.526c-1.106-0.314-2.137,0.319-2.466,1.272C9.98,8.724,9.668,9,9.275,9H8.984 C8.403,9,7.997,8.436,8.159,7.878c0.429-1.472,1.681-2.593,3.225-2.831c1.524-0.235,2.969,0.549,3.873,1.799 C16.437,8.478,16.089,10.231,15.07,11.25z"
            />
          </svg>
        </div>
        {{ forms.url_homepage }}
        <!-- -->
        {% for error in forms.url_homepage.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="container__group flex flex-col gap-7">
      <div class="font-poppins flex flex-col gap-1">
        <p class="font-medium text-slate-900">Invoice Information</p>
        <small class="text-xs font-light text-slate-600"
          >To get your event published, kindly you need to proceed the payment. If you make a new events, you need
          another payment to get published. The price as follows:</small
        >
      </div>
      <div class="grid grid-cols-2 gap-7 p-3">
        <div id="widget-event-free" class="widget widget--active">
          <strong class="context">Free Event Registration</strong>
          <p class="subcon">You need to pay <span class="font-medium">Rp 5,000</span> (Rupiah).</p>
        </div>
        <div id="widget-event-paid" class="widget">
          <strong class="context">Paid Event Registration</strong>
          <p class="subcon">
            You need to pay <span class="font-medium">Rp 20,000 + (5% of events register price)</span>.
          </p>
        </div>
      </div>
      <div class="wrapper__table">
        <div class="container__table">
          <table class="w-full">
            <thead>
              <tr class="border-y border-gray-300">
                <th class="px-3 py-2 text-right uppercase">name</th>
                <th class="px-3 py-2 text-right uppercase">price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="font-poppins px-3 py-2 text-right text-sm font-normal text-slate-600">
                  <label for="fee" class="cursor-pointer hover:text-slate-900">Event Price</label>
                </td>
                <td
                  id="label-event-price"
                  class="font-poppins w-[180px] min-w-[140px] px-3 py-2 text-right text-sm font-normal text-slate-600"
                >
                  Rp 0
                </td>
              </tr>
              <tr>
                <td class="font-poppins px-3 py-2 text-right text-sm font-normal text-slate-600">Publish Price</td>
                <td
                  class="font-poppins w-[180px] min-w-[140px] px-3 py-2 text-right text-sm font-normal text-slate-600"
                >
                  Rp 5,000
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="rounded-xl bg-slate-300 bg-opacity-10 p-3">
                <td class="font-dmSans px-3 py-2 text-right font-medium">Total Price</td>
                <td
                  id="total-price"
                  class="font-dmSans w-[130px] min-w-[100px] max-w-[140px] px-3 py-2 text-right font-medium"
                >
                  Rp 5,000
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center gap-3">
      <a
        href="{% url 'associations-data-explore' slug %}"
        class="font-mulish relative rounded-lg border border-slate-100 bg-slate-500 bg-opacity-10 px-4 py-2 text-sm font-semibold uppercase text-slate-400 transition-all duration-150 ease-out hover:brightness-50"
        >Cancel</a
      >
      <button
        type="submit"
        class="font-mulish relative rounded-lg border border-transparent bg-green-500 px-7 py-2 text-sm font-semibold uppercase text-white transition-all duration-150 ease-out hover:brightness-110"
      >
        Proceed
      </button>
    </div>
  </form>
</div>

{% endblock content %}

<!-- events js -->
{% block js %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/plugins/rangePlugin.js"></script>
<script
  src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  $(function () {
    $('#category').selectize({
      maxItems: 1,
      create: false,
      searchConjunction: 'or',
      plugins: {
        dropdown_header: {
          title: 'Pick category that suited for your event',
        },
      },
    });
  });
  $('div.selectize-control > div.selectize-input > input').each(function (index) {
    this.removeAttribute('autocomplete');
    this.setAttribute('data-lpignore', 'true');
  });
</script>
<!--<script>
  flatpickr('.flatpickr', {
    altInput: true,
    altFormat: 'F j, Y. h:i K',
    enableTime: true,
    dateFormat: 'Z',
    minDate: 'today',
    plugins: [new rangePlugin({ input: '#schedule-end' })],
  });
</script>-->
<script>
  const inputBanner = document.querySelector('#banner');
  const bannerPreview = document.querySelector('#preview_banner');

  inputBanner.onchange = (event) => {
    const [file] = inputBanner.files;
    if (file) {
      bannerPreview.src = URL.createObjectURL(file);
    }
  };

  bannerPreview.onclick = (e) => {
    if (!bannerPreview.style.objectFit) {
      bannerPreview.style.objectFit = 'contain';
      return;
    }
    bannerPreview.style.objectFit = '';
    return;
  };
</script>
<script>
  const widgetEventInvoiceHandlerIsPaid = (isPaid) => {
    const widgetEventFree = document.querySelector('#widget-event-free');
    const widgetEventPaid = document.querySelector('#widget-event-paid');
    if (isPaid) {
      widgetEventPaid.classList.add('widget--active');
      widgetEventFree.classList.remove('widget--active');
      return;
    }
    widgetEventFree.classList.add('widget--active');
    widgetEventPaid.classList.remove('widget--active');
    return;
  };
  const calculateRegistrationFee = (selector) => {
    const totalPrice = document.querySelector('#total-price');
    const labelEventPrice = document.querySelector('#label-event-price');
    let pcgFee = 0;
    let fee = 0;
    document.querySelector(selector).oninput = (e) => {
      if (e.target.value > 0) {
        pcgFee = (e.target.value * 5) / 100;
        if (pcgFee > 500) {
          fee = (20000 + (e.target.value * 5) / 100).toString();
        } else {
          fee = (20000).toString();
        }
        widgetEventInvoiceHandlerIsPaid(true);
      } else {
        fee = (5000).toString();
        widgetEventInvoiceHandlerIsPaid(false);
      }
      labelEventPrice.textContent = `Rp ${e.target.value.length == 0 ? 0 : e.target.value}`;
      totalPrice.textContent = `Rp ${fee}`;
    };
  };
  calculateRegistrationFee('#fee');
</script>
<script>
  tippy('[data-tippy-content]', {
    delay: 50,
    duration: 150,
    animation: 'scale',
    inertia: true,
    trigger: 'click',
  });
</script>
{% endblock %}
