@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rx {
    @apply border border-red-500;
  }

  /* preserve class utils */
  .calendar .calendar__event {
    @apply rounded-lg border-none px-2 py-1 font-openSans text-sm font-semibold text-white;
  }
  .calendar .calendar__event.calendar-orange {
    @apply bg-gradient-to-tl from-orange-500 to-yellow-500;
  }
  .calendar .calendar__event.calendar-blue {
    @apply bg-gradient-to-tl from-sky-500 to-blue-500;
  }
  .calendar .calendar__event.calendar-green {
    @apply bg-gradient-to-tl from-green-500 to-lime-500;
  }
  .calendar .calendar__event.calendar-red {
    @apply bg-gradient-to-tl from-amber-500 to-red-500;
  }
  /* end */

  .aside__navigation {
    @apply sticky top-8 h-[calc(100vh-4rem)] w-fit flex-shrink-0 select-none overflow-hidden rounded-2xl bg-white;
  }

  .aside__navigation ::-webkit-scrollbar {
    width: 7px;
  }

  .aside__navigation ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgb(231, 236, 241);
    border: solid 0px transparent;
  }

  .aside__navigation ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(199, 215, 231, 0.75);
    border: solid 0px transparent;
    border-radius: 15px;
  }

  .aside__navigation ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgb(140, 166, 193);
  }

  .nav__menu {
    @apply relative mb-3 flex cursor-pointer flex-row items-center gap-3 rounded-lg px-5 py-4 font-notoSans text-sm font-normal text-slate-700 transition-all duration-300 ease-out hover:bg-blue-500 hover:bg-opacity-10 active:scale-95;
  }

  .nav__sub__menu {
    @apply ml-14 flex flex-col gap-1 overflow-hidden text-sm font-normal text-slate-400 opacity-100 transition-all duration-300 ease-out;
  }

  .nav__sub__menu .link {
    @apply py-2 hover:text-slate-700;
  }

  .nav__sub__menu .link.link--active {
    @apply font-medium text-slate-800;
  }

  .nav__sub__menu.nav__sub__menu--hide {
    @apply opacity-0;
  }

  .nav__menu.nav__menu--active {
    @apply bg-blue-500 bg-opacity-20 font-medium hover:bg-opacity-30;
  }

  .nav__menu .indicator {
    @apply relative ml-3 w-3 transition-all duration-150 ease-out;
  }

  .nav__menu .indicator--active {
    @apply -rotate-180;
  }

  .breadcrumb {
    @apply flex flex-row items-center gap-2 font-poppins;
  }

  .breadcrumb .path__previous {
    @apply text-sm font-medium text-[#BDD0FF];
  }

  .breadcrumb .path {
    @apply text-sm font-semibold text-white;
  }

  main .container {
    @apply flex h-max flex-col gap-4 rounded-xl bg-white p-5 shadow-container3;
  }

  main .container__group {
    @apply rounded-xl border border-slate-container bg-slate-container bg-opacity-10 p-5 font-dmSans text-slate-900;
  }

  main .container__table {
    @apply overflow-x-auto py-5;
  }

  main .container .wrapper__table ::-webkit-scrollbar {
    width: 7px;
    height: 8px;
  }

  main .container .wrapper__table ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgb(199, 215, 231, 0.75);
    border: solid 0px transparent;
    border-radius: 15px;
  }

  main .container .wrapper__table ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(199, 215, 231, 0.75);
    border: solid 0px transparent;
    border-radius: 15px;
  }

  main .container .wrapper__table ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgb(140, 166, 193);
  }

  main .widget {
    @apply rounded-xl bg-white p-8 transition-all duration-150 ease-out;
  }

  main .widget.widget--active {
    @apply bg-slate-800 shadow-priceWidget;
  }

  main .widget > strong.context {
    @apply font-dmSans text-lg font-semibold text-slate-800 transition-all duration-150 ease-out;
  }

  main .widget > strong.context + p.subcon {
    @apply font-poppins text-xs font-light text-slate-500;
  }

  main .widget.widget--active > strong.context {
    @apply text-lg text-white text-opacity-90;
  }

  main .widget.widget--active > strong.context + p.subcon {
    @apply text-white text-opacity-60;
  }
}

@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;

    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
  }

  ::-webkit-scrollbar {
    width: 13px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px transparent;
    border: solid 3px transparent;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgb(140, 166, 193, 0.75);
    border: solid 3px transparent;
    border-radius: 15px;
  }

  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px rgb(140, 166, 193);
  }

  html {
    @apply scroll-smooth;
  }

  button {
    @apply outline-none;
  }
}

/* forms */
main .input__field {
  @apply rounded-xl border border-slate-200 bg-white px-4 py-3 outline-none ring-0 transition-all duration-150 ease-out focus:border-transparent focus:ring-2 focus:ring-blue-500 focus:ring-offset-1;
}

main .input__field__file {
  @apply relative block min-w-0 flex-auto flex-grow-0 rounded-xl border border-slate-200 bg-white bg-clip-padding text-xs ring-0 transition-all duration-150 ease-out file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-neutral-100 file:px-4 file:py-3 file:text-sm file:text-neutral-700 file:transition file:duration-150 file:ease-in-out file:[margin-inline-end:0.75rem] file:[border-inline-end-width:1px] hover:file:bg-neutral-200 focus:text-neutral-700 focus:shadow-[0_0_0_1px] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-1;
}

main .render__content {
  @apply ml-3 mr-8 mt-1 font-poppins text-base leading-7 text-slate-600;
}

main .render__content a {
  @apply border-b-2 border-blue-500 border-opacity-20 font-semibold text-blue-500;
}

main .input__field__list {
  @apply flex flex-col gap-2 rounded-xl border border-slate-200 bg-white px-4 py-3 outline-none ring-0 transition-all duration-150 ease-out focus:border-transparent focus:ring-2 focus:ring-blue-500 focus:ring-offset-1;
}

main .input__field__radio {
  @apply flex flex-row items-center gap-4 rounded-2xl p-3;
}

main .min__h__50px {
  @apply min-h-[50px];
}

main .selectize-control > .selectize-input {
  @apply rounded-xl border border-slate-200 bg-white px-4 py-3 leading-normal ring-0 transition-all duration-150 ease-out focus:border-transparent focus:ring-2 focus:ring-blue-500 focus:ring-offset-1;
}

main .selectize-control.single > .selectize-input {
  @apply border-slate-200 bg-white bg-none text-base shadow-none;
}

main .selectize-dropdown.single {
  @apply border border-t border-slate-200 shadow-none;
}

main .selectize-control > .selectize-dropdown [data-selectable].option {
  @apply p-4 font-dmSans text-sm font-medium text-slate-800;
}

main .selectize-control > .selectize-dropdown {
  @apply mt-1 overflow-hidden rounded-lg border border-solid border-slate-200;
}

main .selectize-control > .selectize-dropdown > .selectize-dropdown-content > .selected {
  @apply bg-blue-500 text-white;
}

main .selectize-control .selectize-input.dropdown-active::before {
  @apply hidden;
}

main .selectize-control .selectize-input > input {
  @apply text-base;
}
