{% extends 'backend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% block content %}

<div class="grid select-none grid-cols-4">
  <div class="container col-span-4">
    <div class="flex flex-row justify-between">
      <div class="font-poppins flex flex-col gap-1">
        <p class="font-medium text-slate-900">Associations Approval Requests</p>
        <small class="text-xs font-light text-slate-600">Manage approval associations</small>
      </div>
    </div>
    <div class="wrapper__table">
      <div class="container__table">
        <table class="w-full items-center">
          <thead>
            <tr>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                no
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                User
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                Email
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                city
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                status
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                created at
              </th>
              <th
                class="font-dmSans whitespace-nowrap border-b border-b-gray-200 bg-transparent px-6 py-3 text-left text-xs font-semibold uppercase tracking-normal text-slate-400 opacity-70"
              >
                action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr class="hover:bg-slate-500 hover:bg-opacity-5">
              <td class="min-w-[80px] border-b border-b-gray-200 px-6 py-4">
                <p class="font-inter text-sm text-slate-400">{{ forloop.counter }}</p>
              </td>
              <td class="font-jost min-w-[310px] border-b border-b-gray-200 px-6 py-4 text-left text-sky-600">
                <a
                  href="{% url 'users-profile' user.username %}"
                  class="flex w-fit flex-row items-center gap-3 rounded-xl px-2 py-1 transition-all duration-150 ease-out hover:bg-slate-500 hover:bg-opacity-10 hover:ring-4 hover:ring-slate-500 hover:ring-opacity-10 active:scale-95"
                >
                  {% if user.avatar %}
                  <img
                    src="{% get_media_prefix %}{{ user.avatar }}"
                    alt="{{ user.username }}"
                    srcset=""
                    class="h-8 w-8 rounded-full object-cover object-center"
                    draggable="false"
                  />
                  {% else %}
                  <img
                    src="{% static 'web/assets/avatar_1.png' %}"
                    alt="{{ user.username }}"
                    srcset=""
                    class="h-8 w-8 rounded-full object-cover object-center"
                    draggable="false"
                  />
                  {% endif %}
                  <div class="flex flex-col gap-1">
                    <p class="line-clamp-2 font-medium">{{ user.username }}</p>
                    <span class="text-xs">{{ user.last_name }}, {{ user.first_name }}</span>
                  </div>
                </a>
              </td>
              <td class="font-jost min-w-[18rem] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                {{ user.email }}
              </td>
              <td class="font-jost min-w-[18rem] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                {{ user.city|default_if_none:"" }}
              </td>
              <td class="font-jost min-w-[25rem] border-b border-b-gray-200 px-6 py-4 text-left text-slate-800">
                <div class="grid grid-cols-5">
                  <button
                    type="submit"
                    class="flex flex-col items-center gap-1 rounded-lg p-2 transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-20"
                    tabindex="-1"
                  >
                    {% if user.is_verified %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                      <path
                        d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                        fill="currentColor"
                      />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-300">
                      <path
                        d="M12,22C6.486,22,2,17.514,2,12S6.486,2,12,2s10,4.486,10,10S17.514,22,12,22z"
                        fill="currentColor"
                      />
                    </svg>
                    {% endif %}
                    <span class="text-xs">Verified</span>
                  </button>
                  <button
                    type="submit"
                    class="flex flex-col items-center gap-1 rounded-lg p-2 transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-20"
                    tabindex="-1"
                  >
                    {% if user.is_active %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                      <path
                        d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                        fill="currentColor"
                      />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-300">
                      <path
                        d="M12,22C6.486,22,2,17.514,2,12S6.486,2,12,2s10,4.486,10,10S17.514,22,12,22z"
                        fill="currentColor"
                      />
                    </svg>
                    {% endif %}
                    <span class="text-xs">Active</span>
                  </button>
                  <button
                    type="submit"
                    class="flex flex-col items-center gap-1 rounded-lg p-2 transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-20"
                    tabindex="-1"
                  >
                    {% if user.is_staff %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                      <path
                        d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                        fill="currentColor"
                      />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-300">
                      <path
                        d="M12,22C6.486,22,2,17.514,2,12S6.486,2,12,2s10,4.486,10,10S17.514,22,12,22z"
                        fill="currentColor"
                      />
                    </svg>
                    {% endif %}
                    <span class="text-xs">Staff</span>
                  </button>
                  <button
                    type="submit"
                    class="flex flex-col items-center gap-1 rounded-lg p-2 transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-20"
                    tabindex="-1"
                  >
                    {% if user.is_developer %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                      <path
                        d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                        fill="currentColor"
                      />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-300">
                      <path
                        d="M12,22C6.486,22,2,17.514,2,12S6.486,2,12,2s10,4.486,10,10S17.514,22,12,22z"
                        fill="currentColor"
                      />
                    </svg>
                    {% endif %}
                    <span class="text-xs">Developer</span>
                  </button>
                  <button
                    type="submit"
                    class="flex flex-col items-center gap-1 rounded-lg p-2 transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-20"
                    tabindex="-1"
                  >
                    {% if user.is_superuser %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                      <path
                        d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                        fill="currentColor"
                      />
                    </svg>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-300">
                      <path
                        d="M12,22C6.486,22,2,17.514,2,12S6.486,2,12,2s10,4.486,10,10S17.514,22,12,22z"
                        fill="currentColor"
                      />
                    </svg>
                    {% endif %}
                    <span class="text-xs">Superuser</span>
                  </button>
                </div>
                <!--<span> {{ user.is_verified }} </span>
                <span>{{ user.is_active }}</span>
                <span>{{ user.is_staff }}</span>
                <span>{{ user.is_developer }}</span>
                <span>{{ user.is_superuser }}</span>-->
              </td>
              <td
                class="font-inter min-w-[15rem] border-b border-b-gray-200 px-6 py-4 text-sm font-medium text-slate-500"
              >
                <div class="flex flex-col gap-1">
                  <span>{{ user.created_at|date:'M d, Y' }}</span>
                  <span class="text-sm">{{ user.created_at|date:'h:m A' }}</span>
                </div>
              </td>
              <td class="min-w-[150px] border-b border-b-gray-200 px-6 py-4">
                <div class="font-quicksand flex flex-row items-center gap-2 text-sm font-semibold">
                  <form action="{% url 'users-enable-disable' user.id %}" method="post">
                    {% csrf_token %}
                    <!-- -->
                    {% if user.is_active %}
                    <button
                      type="submit"
                      class="hover:shadow-container1 relative rounded-md bg-gradient-to-b from-red-600 to-red-500 px-3 py-2 text-white transition-all duration-150 ease-out hover:scale-95 hover:brightness-110"
                      onclick="return confirm(`Disable {{ user.username|truncatechars:40 }}'s account? You can enable it again later.`)"
                    >
                      Disable
                    </button>
                    {% else %}
                    <button
                      type="submit"
                      class="hover:shadow-container1 relative rounded-md bg-gradient-to-b from-green-600 to-green-500 px-3 py-2 text-white transition-all duration-150 ease-out hover:scale-95 hover:brightness-110"
                      onclick="return confirm(`Enable {{ user.username|truncatechars:40 }}'s account?`)"
                    >
                      Enable
                    </button>
                    {% endif %}
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <span class="flex flex-row items-center gap-1">
        <p class="text-sm text-slate-600">
          Showing <strong>1</strong> to <strong>3</strong> of <strong>100</strong> entries.
        </p>
      </span>
      <div class="flex flex-row items-center gap-2">
        <button
          class="font-poppins relative h-10 w-10 rounded-lg bg-blue-500 text-sm font-semibold text-white hover:bg-opacity-80"
          tabindex="-1"
        >
          <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">1</p>
        </button>
        <button
          class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
          tabindex="-1"
        >
          <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">2</p>
        </button>
        <button
          class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
          tabindex="-1"
        >
          <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">3</p>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- -->
{% endblock content %}
