{% load static tailwind_tags %}

<!-- -->
{% load static %}

<!-- -->
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Binago Homepage</title>
  </head>
  <body class="fr bg-base-bg rx relative flex h-auto w-full select-none flex-col items-center">
    <div class="rx flex min-w-[82rem] flex-col gap-4 border-yellow-500">
      <nav class="rx sticky top-0">binago.id</nav>
      <div class="rx flex min-w-[82rem] flex-row gap-4 border-green-500">
        <nav class="rx rx sticky top-0 flex h-screen shrink-0 flex-col p-3">
          <span>Promotion</span>
          <span>Upcoming</span>
          <span>Today</span>
          <span>Past</span>
          <span>Profile</span>
        </nav>
        <main class="rx w-full p-3">
          <span class="rx">Action</span>
          <div class="rx flex flex-col gap-3">
            <span>Categories Events Filter</span>
            <div class="grid grid-cols-2">
              <span class="rx px-2 py-5">webinar 1</span>
              <span class="rx px-2 py-5">webinar 2</span>
              <span class="rx px-2 py-5">webinar 3</span>
              <span class="rx px-2 py-5">webinar 4</span>
              <span class="rx px-2 py-5">webinar 5</span>
              <span class="rx px-2 py-5">webinar 6</span>
              <span class="rx px-2 py-5">webinar 7</span>
              <span class="rx px-2 py-5">webinar 8</span>
              <span class="rx px-2 py-5">webinar 9</span>
              <span class="rx px-2 py-5">webinar 10</span>
              <span class="rx px-2 py-5">webinar 11</span>
              <span class="rx px-2 py-5">webinar 12</span>
              <span class="rx px-2 py-5">webinar 13</span>
              <span class="rx px-2 py-5">webinar 14</span>
              <span class="rx px-2 py-5">webinar 15</span>
              <span class="rx px-2 py-5">webinar 16</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
              <span class="rx px-2 py-5">webinar</span>
            </div>
          </div>
        </main>
        <aside class="rx p-3">
          <div class="flex shrink-0 flex-col gap-4">
            <span>Statistik Bingo</span>
            <div class="flex flex-col gap-2">
              <span>event total</span>
              <span>association total</span>
              <span>user total</span>
            </div>
            <span>ads</span>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
