{% extends 'frontend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% load humanize %}

<!-- -->
{% load active_link_tags %}

<!-- -->
{% block content %}
<!-- -->
<div class="flex flex-col gap-10 pb-10">
  {% if events %}
  <div class="flex flex-row items-center gap-4">
    <input
      type="search"
      name=""
      id=""
      class="font-poppins text-base-field w-full rounded-full border-2 border-slate-300 bg-transparent px-6 py-3 text-sm outline-none ring-0 placeholder:text-slate-300 focus:border-blue-500 focus:ring-transparent focus:placeholder:text-blue-500"
      placeholder="Search by title..."
    />
    <button class="font-poppins rounded-full bg-blue-500 px-10 py-3 text-sm font-semibold text-white">Search</button>
  </div>
  {% endif %}
  <div class="flex flex-col gap-3">
    <span class="text-base-field font-quicksand text-sm font-semibold">Events Categories Filter</span>
    <div class="flex flex-row flex-wrap items-center gap-3">
      <!--
      <a
        href="{% url 'homepage-event-past' %}"
        class="arr_cta {% active_link 'homepage-event-past' 'arr_cta--active' %}"
        >None</a
      >
      {% for category in categories %}
      <a
        href="{% url 'homepage-event-past-category' category.slug %}"
        class="arr_cta {% active_link 'homepage-event-past-category' 'arr_cta--active' category=category.slug %}"
      >
        {{ category.category }}
      </a>
      {% endfor %}
      -->
      <!-- TODO: Need to improve -->
      {% if type == 'UPCOMING' %}
        {% url 'homepage-event-upcoming' as url_filter %}
        {% include 'frontend/pages/homepage/components/filter_categories_events_unrelated.html' with reverse=url_filter reverse_name='homepage-event-upcoming' label="None" %}
      {% elif type == 'PAST' %}
        {% url 'homepage-event-past' as url_filter %}
        {% include 'frontend/pages/homepage/components/filter_categories_events_unrelated.html' with reverse=url_filter reverse_name='homepage-event-past' label="None" %}
      {% else %}
        {% url 'homepage-event-today' as url_filter %}
        {% include 'frontend/pages/homepage/components/filter_categories_events_unrelated.html' with reverse=url_filter reverse_name='homepage-event-today' label="None" %}
      {% endif %}
      {% for category in categories %}
      <!--  -->
        {% if type == 'UPCOMING' %}
        <!--  -->
          {% url 'homepage-event-upcoming-category' category.slug as url_filter %}
          {% include 'frontend/pages/homepage/components/filter_categories_events.html' with reverse=url_filter reverse_name='homepage-event-upcoming-category' category=category count_type=category.get_upcoming_categories %}
        <!--  -->
        {% elif type == 'PAST' %}
        <!--  -->
          {% url 'homepage-event-past-category' category.slug as url_filter %}
          {% include 'frontend/pages/homepage/components/filter_categories_events.html' with reverse=url_filter reverse_name='homepage-event-past-category' category=category count_type=category.get_past_categories %}
        <!--  -->
        {% else %}
        <!--  -->
          {% url 'homepage-event-today-category' category.slug as url_filter %}
          {% include 'frontend/pages/homepage/components/filter_categories_events.html' with reverse=url_filter reverse_name='homepage-event-today-category' category=category count_type=category.get_today_categories %}
        <!--  -->
        {% endif %}
      <!-- -->
      {% endfor %}
    </div>
  </div>
  {% if events %}
  <div class="flex flex-col gap-3">
    <span class="text-base-field font-quicksand text-sm font-semibold">Recent Events</span>
    <div class="event_grid">
      {% for event in events %}
      <div class="event_card" data-scroll-reveal-card>
        <div class="relative z-0 h-48 shrink-0">
          <img
            src="{% get_media_prefix %}{{ event.banner_lazy }}"
            data-img-src="{% get_media_prefix %}{{ event.banner }}"
            alt=""
            srcset=""
            class="image__blur h-full w-full border-b-4 border-sky-600 border-opacity-20 object-cover object-center transition-all duration-300 ease-out"
            draggable="false"
            data-lazyload-image
          />
          {% if type == 'UPCOMING' %}
          <span
            class="bg-base-field font-quicksand absolute right-0 -translate-y-2/4 rounded-l-lg px-3 py-2 text-xs font-semibold text-white"
            >in {{ event.schedule_start|timeuntil }}.</span
          >
          {% elif type == 'PAST' %}
          <span
            class="bg-base-field font-quicksand absolute right-0 -translate-y-2/4 rounded-l-lg px-3 py-2 text-xs font-semibold text-white"
            >{{ event.schedule_end|timesince }} ago.</span
          >
          {% else %}
          <!--  -->
            {% if event.event_today_status == 'PAST' %}
              <span
                class="bg-base-field font-quicksand absolute right-0 -translate-y-2/4 rounded-l-lg px-3 py-2 text-xs font-semibold text-white">
                {{ event.schedule_end|timesince }} ago.
              </span>
            {% elif event.event_today_status == 'UPCOMING' %}
              <span
                class="bg-base-field font-quicksand absolute right-0 -translate-y-2/4 rounded-l-lg px-3 py-2 text-xs font-semibold text-white">
                in {{ event.schedule_start|timeuntil }}.
              </span>
            {% elif event.event_today_status == 'LIVE' %}
              <span
                class="bg-red-500 font-quicksand absolute right-0 -translate-y-2/4 rounded-l-lg px-3 py-2 text-xs font-semibold text-white">
                Currently live!
              </span>
            {% endif %}
            <!--  -->
          {% endif %}
        </div>
        <div class="flex h-full flex-col gap-5 py-4 px-5">
          <div class="flex flex-row flex-wrap items-center gap-2">
            {% if event.price > 0 %}
            <span class="bg-base-field font-dmSans rounded-lg py-1 px-2 text-xs font-semibold text-white">Rp {{ event.price|intcomma }}</span>
            {% else %}
            <span class="bg-base-field font-dmSans rounded-lg py-1 px-2 text-xs font-semibold text-white">FREE</span>
            {% endif %}
            <span class="bg-base-field font-dmSans rounded-lg py-1 px-2 text-xs font-semibold text-white"
              >{{ event.category.category }}</span
            >
          </div>
          <div class="flex h-full flex-col gap-1">
            <a
              href="{% url 'homepage-event-detail' event.slug %}"
              class="font-montserrat text-base-field break line-clamp-2 text-ellipsis text-lg font-bold transition-all duration-150 ease-out hover:text-blue-500"
              data-scroll-reveal-title
            >
              {{ event.title }}
            </a>
            <div class="flex-warp flex flex-row items-center gap-2">
              <span class="font-dmSans text-xs font-semibold text-blue-500 hover:text-blue-800"
                >{{ event.association_group.association.name }}</span
              >
            </div>
          </div>
          <hr />
          <div class="flex flex-col gap-2">
            <div class="flex flex-row flex-wrap gap-3">
              <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-800">
                  <path
                    d="M5 0L5 4L7 4L7 0 Z M 17 0L17 4L19 4L19 0 Z M 1 3C0.398438 3 0 3.398438 0 4L0 7C0 7.601563 0.398438 8 1 8L1 24L23 24L23 8C23.601563 8 24 7.601563 24 7L24 4C24 3.398438 23.601563 3 23 3L20 3L20 5L16 5L16 3L8 3L8 5L4 5L4 3 Z M 3 8L21 8L21 22L3 22 Z M 5 10L5 12L7 12L7 10 Z M 9 10L9 12L11 12L11 10 Z M 13 10L13 12L15 12L15 10 Z M 17 10L17 12L19 12L19 10 Z M 12 13L12 17L16 17L16 13 Z M 5 14L5 16L7 16L7 14 Z M 9 14L9 16L11 16L11 14 Z M 17 14L17 16L19 16L19 14 Z M 5 18L5 20L7 20L7 18 Z M 9 18L9 20L11 20L11 18 Z M 13 18L13 20L15 20L15 18 Z M 17 18L17 20L19 20L19 18Z"
                    fill="currentColor"
                  />
                </svg>
                {% if event.schedule_start|date:'d' == event.schedule_end|date:'d' %}
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">
                  {{ event.schedule_end|date:'M d, Y' }}
                </span>
                {% else %}
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">
                  {{ event.schedule_start|date:'M d, Y' }} - {{ event.schedule_end|date:'M d, Y' }}
                </span>
                {% endif %}
              </div>
              <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-slate-800">
                  <path
                    d="M12 0C5.371094 0 0 5.371094 0 12C0 18.628906 5.371094 24 12 24C18.628906 24 24 18.628906 24 12C24 5.371094 18.628906 0 12 0 Z M 12 2C17.523438 2 22 6.476563 22 12C22 17.523438 17.523438 22 12 22C6.476563 22 2 17.523438 2 12C2 6.476563 6.476563 2 12 2 Z M 10.9375 3.875L10.5 12.0625L10.59375 12.9375L16.75 18.375L17.71875 17.375L12.625 11.96875L12.1875 3.875Z"
                    fill="currentColor"
                  />
                </svg>
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">
                  {{ event.schedule_start|date:'h:i A' }}-{{ event.schedule_end|date:'h:i A' }}
                </span>
              </div>
            </div>
            <div class="flex flex-row flex-wrap gap-3">
              <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-blue-500">
                  <path
                    d="M10.59375 3C9.957031 3 9.324219 3.269531 8.875 3.71875L5.59375 7L1.3125 7C0.585938 7 0 7.585938 0 8.3125L0 18.6875C0 19.414063 0.585938 20 1.3125 20L3.78125 20L3.0625 21.4375C2.933594 21.695313 3.117188 22 3.40625 22L5.65625 22C5.871094 22 6.0625 21.878906 6.15625 21.6875L7 20L10 20L10.71875 21.4375C10.890625 21.777344 11.242188 22 11.625 22L16.09375 22C16.601563 22 17 21.601563 17 21.09375L17 8.3125C17 8.277344 17.003906 8.25 17 8.21875C17.007813 8.144531 17.007813 8.074219 17 8L17 5.21875C17 4 16 3 14.78125 3 Z M 18 4L18 7L21.5 7C22.039063 7.007813 22.542969 6.722656 22.816406 6.257813C23.089844 5.789063 23.089844 5.210938 22.816406 4.742188C22.542969 4.277344 22.039063 3.992188 21.5 4 Z M 10.59375 5L14.78125 5C14.921875 5 15 5.078125 15 5.21875L15 7L8.40625 7L10.28125 5.125C10.355469 5.050781 10.488281 5 10.59375 5 Z M 22 9C21.03125 9 20 11 19 11L18 11L18 16L19 16C20 16 20.984375 18 22 18L24 18L24 9 Z M 3 10L8 10L8 14L3 14Z"
                    fill="currentColor"
                  />
                </svg>
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">Online</span>
              </div>
              <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                  <path
                    d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                    fill="currentColor"
                  />
                </svg>
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">Certificate</span>
              </div>
              <div class="flex flex-row items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-4 w-4 text-green-500">
                  <path
                    d="M12,2C6.477,2,2,6.477,2,12c0,5.523,4.477,10,10,10s10-4.477,10-10C22,6.477,17.523,2,12,2z M17.707,9.707l-7,7 C10.512,16.902,10.256,17,10,17s-0.512-0.098-0.707-0.293l-3-3c-0.391-0.391-0.391-1.023,0-1.414s1.023-0.391,1.414,0L10,14.586 l6.293-6.293c0.391-0.391,1.023-0.391,1.414,0S18.098,9.316,17.707,9.707z"
                    fill="currentColor"
                  />
                </svg>
                <span class="font-poppins mt-1 text-xs font-medium text-slate-800">Poin</span>
              </div>
            </div>
          </div>
          <hr />
          <div class="flex flex-row items-center gap-3">
            <a
              href="{% url 'homepage-event-detail' event.slug %}"
              class="font-poppins flex flex-row items-center gap-3 rounded-xl bg-blue-500 bg-opacity-10 px-4 py-3 text-sm font-semibold uppercase text-blue-500 transition-all duration-150 ease-out hover:bg-opacity-100 hover:text-white"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="h-5 w-5 object-contain">
                <path
                  d="M24 4C12.972066 4 4 12.972074 4 24C4 35.027926 12.972066 44 24 44C35.027934 44 44 35.027926 44 24C44 12.972074 35.027934 4 24 4 z M 24 7C33.406615 7 41 14.593391 41 24C41 33.406609 33.406615 41 24 41C14.593385 41 7 33.406609 7 24C7 14.593391 14.593385 7 24 7 z M 24 14 A 2 2 0 0 0 24 18 A 2 2 0 0 0 24 14 z M 23.976562 20.978516 A 1.50015 1.50015 0 0 0 22.5 22.5L22.5 33.5 A 1.50015 1.50015 0 1 0 25.5 33.5L25.5 22.5 A 1.50015 1.50015 0 0 0 23.976562 20.978516 z"
                  fill="currentColor"
                />
              </svg>
            </a>
            {% if event.schedule_eligibility %}
            <!--  -->
              {% if event.user_eligibility %}
                <!--  -->
                {% if event.seat_eligibility %}
                  <a
                    href="{% url 'homepage-event-register' event.slug %}"
                    class="font-poppins w-full rounded-xl bg-blue-500 bg-opacity-10 px-4 py-3 text-center text-sm font-semibold uppercase text-blue-500 transition-all duration-150 ease-out hover:bg-opacity-100 hover:text-white"
                  >
                    REGISTER
                  </a>
                {% else %}
                  <span class="font-quicksand text-sm font-bold capitalize text-sky-500">Seat full</span>
                {% endif %}
                <!--  -->
              {% else %}
                <span class="font-quicksand font-bold capitalize text-green-500">Registered</span>
              {% endif %}
            <!--  -->
            {% else %}
            <!--  -->
            <!-- TODO: bug need to fix (mar 30, 2023 - mar 31, 2023 : mark as event ended, but it's more than 1 days. our date in case is Mar 30, 9.12 pm)-->
            <!-- TODO: already fixed on views by adding filter schedule_start__month on 'today' stubs, need to review -->
            <ul>
              <li>test {{ event.user_eligibility }}</li>
              <li>test {{ event.seat_eligibility }}</li>
              <li>test {{ user.schedule_eligibility }}</li>
            </ul>
              {% if event.user_eligibility %}
                <!--  -->
                {% if event.seat_eligibility %}
                  <span class="font-quicksand font-bold capitalize text-rose-500">Event Ended</span>
                {% else %}
                  <span class="font-quicksand font-bold capitalize text-rose-500">Event Ended / Seat Full</span>
                {% endif %}
                <!--  -->
              {% else %}
                <span class="font-quicksand text-sm font-bold capitalize text-sky-500">Event Ended And Registered</span>
              {% endif %}
              <!--  -->
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="mt-12 flex flex-row items-center justify-between gap-3">
    <span class="text-base-field font-quicksand text-sm font-semibold"
      >Showing {{ events.start_index }} to {{ events.end_index }} of {{ events.paginator.count }} data.</span
    >
    <div class="flex flex-row items-center gap-4">
      {% if has_previous %}
      <a
        href="?page={{ has_previous }}"
        class="shadow-container1 rounded-xl bg-white p-4 text-blue-500 transition-all duration-150 ease-out hover:scale-95"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="h-5 w-5">
          <path
            d="M14.585938 3.585938L5.171875 13L14.585938 22.414063L17.414063 19.585938L10.828125 13L17.414063 6.414063Z"
            fill="currentColor"
          />
        </svg>
      </a>
      {% endif %}
      <!-- -->
      {% if has_next %}
      <a
        href="?page={{ has_next }}"
        class="shadow-container1 rounded-xl bg-white p-4 text-blue-500 transition-all duration-150 ease-out hover:scale-95"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" class="h-5 w-5">
          <path
            d="M11.414063 3.585938L8.585938 6.414063L15.171875 13L8.585938 19.585938L11.414063 22.414063L20.828125 13Z"
            fill="currentColor"
          />
        </svg>
      </a>
      {% endif %}
    </div>
  </div>
  {% else %}
  <div class="container__group flex flex-col items-center gap-20">
    <div class="relative">
      <img
        src="{% static 'web/assets/ej_no-data.png' %}"
        alt=""
        srcset=""
        class="relative z-[1] h-40 w-40 object-contain"
        draggable="false"
      />
      <img
        src="{% static 'web/assets/ej_no-data.png' %}"
        alt=""
        srcset=""
        class="absolute top-10 left-0 z-0 h-52 w-52 object-contain opacity-60 blur-3xl"
        draggable="false"
      />
    </div>
    <div class="flex flex-col items-center gap-5">
      <div class="relative flex flex-col items-center gap-1">
        <span class="font-poppins text-base-field text-2xl font-bold uppercase">No events available</span>
      </div>
      <small class="font-poppins text-base-sub text-sm font-medium"
        >The pages that you're trying to access doesn't have resources any yet. Please try again later.</small
      >
    </div>
  </div>
  {% endif %}
</div>
<!-- -->
{% endblock %}

<!-- -->
{% block js %}
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script>
  window.addEventListener('load', () => {
    const card = document.querySelectorAll('[data-scroll-reveal-card]');
    const title = document.querySelectorAll('[data-scroll-reveal-title]');
    ScrollReveal().reveal(card, {
      duration: 950,
      scale: 0.85,
      opacity: 0,
      distance: '60px',
      rotate: {
        x: 9,
        y: 12,
      },
      easing: 'cubic-bezier(.18,1,.2,1)',
      viewOffset: {
        top: 80,
        bottom: 110,
      },
      interval: 30,
      reset: false,
    });
    ScrollReveal().reveal(title, {
      duration: 1350,
      opacity: 0,
      distance: '10px',
      origin: 'top',
      rotate: {
        x: 1,
        y: 12,
      },
      easing: 'cubic-bezier(.18,1,.2,1)',
      viewOffset: {
        top: 145,
        bottom: 145,
      },
      reset: false,
    });
  });
</script>
<script src="{% static 'frontend/js/main.js' %}"></script>

{% endblock js %}
