{% extends 'backend/layout/master.html' %}

<!-- -->
{% load static %}

<!-- -->
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/animations/scale.css" />
{% endblock %}

<!-- -->
{% block content %}

<div class="grid select-none grid-cols-6 gap-8">
  <div class="col-span-4 flex flex-col gap-8">
    <div class="flex flex-row items-end gap-8">
      <div
        class="shadow-container3 group relative h-56 w-56 rounded-[2rem] bg-white p-3 transition-all duration-150 ease-out hover:scale-105"
      >
        <img
          src="{% get_media_prefix %}{{ association.logo }}"
          alt=""
          srcset=""
          class="relative h-full w-full rounded-3xl object-cover object-center"
          draggable="false"
        />
      </div>
      <div class="mb-12 flex flex-col gap-10">
        <span
          class="font-montserrat w-fit rounded-xl border border-gray-200 bg-white bg-opacity-70 px-4 py-2 text-xs font-semibold text-slate-800 backdrop-blur-lg"
          >Associated Profile</span
        >
        <div class="ml-2 flex flex-col gap-1">
          <strong class="font-poppins text-3xl font-bold text-slate-700">{{ association.name }}</strong>
          <small class="font-poppins text-sm font-medium text-slate-400 text-opacity-50">@{{ association.slug }}</small>
        </div>
      </div>
    </div>
    <p class="font-poppins font-regular ml-3 mr-8 mt-1 text-base leading-7 text-slate-600">{{ association.about }}</p>
    <hr class="mx-2 border-black border-opacity-5" />
    <div class="ml-3 flex flex-col gap-4">
      <span class="font-poppins text-xl">Events Catalog</span>
      <div class="flex flex-row flex-wrap gap-3">
        {% for x in events_category %}
        <span
          class="group flex cursor-pointer flex-row items-center gap-2 rounded-xl border-gray-200 bg-white py-2 pl-2 pr-4 transition-all duration-150 ease-out hover:bg-gray-200"
        >
          <small
            class="w-auto min-w-[20px] rounded-lg bg-gray-200 px-2 py-1 text-center text-xs font-semibold transition-all duration-150 ease-out group-hover:bg-gray-50"
            >{{ x.total }}</small
          >
          <small class="font-montserrat text-xs font-semibold">{{ x.category__category}}</small>
        </span>
        {% endfor %}
      </div>
      <div class="grid grid-cols-4 gap-7">
        {% for event in events.all %}
        <img
          src="{% get_media_prefix %}{{ event.banner }}"
          alt=""
          srcset=""
          class="aspect-2 rounded-xl object-cover object-center"
          draggable="false"
        />
        {% endfor %}
      </div>
      <div class="flex flex-row justify-between">
        <span class="flex flex-row items-center gap-1">
          <p class="text-sm text-slate-600">
            Showing <strong>1</strong> to <strong>3</strong> of <strong>100</strong> entries.
          </p>
        </span>
        <div class="flex flex-row items-center gap-2">
          <button
            class="font-poppins relative h-10 w-10 rounded-lg bg-blue-500 text-sm font-semibold text-white hover:bg-opacity-80"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">1</p>
          </button>
          <button
            class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">2</p>
          </button>
          <button
            class="font-poppins relative h-10 w-10 rounded-lg border border-slate-300 text-sm font-semibold text-slate-300 hover:border-slate-400 hover:text-slate-400"
            tabindex="-1"
          >
            <p class="absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">3</p>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-2 flex flex-col gap-8">
    <div class="font-poppins container flex flex-col gap-2">
      <p class="font-medium text-slate-900">Association Info</p>
      <div class="mt-4 flex flex-col gap-3">
        <div class="font-poppins flex flex-row flex-wrap justify-between border-b border-gray-100 pb-3">
          <small class="text-sm font-light text-slate-400">Ratings Avg.</small>
          <strong class="text-sm font-semibold text-slate-700">4.3</strong>
        </div>
        <div class="font-poppins flex flex-row flex-wrap justify-between border-b border-gray-100 pb-3">
          <small class="text-sm font-light text-slate-400">Audience Engaged</small>
          <strong class="text-sm font-semibold text-slate-700">421</strong>
        </div>
        <div class="font-poppins flex flex-row flex-wrap justify-between border-b border-gray-100 pb-3">
          <small class="text-sm font-light text-slate-400">Event(s)</small>
          <strong class="text-sm font-semibold text-slate-700">{{ association.events_set.count }}</strong>
        </div>
        <div class="font-poppins flex flex-row flex-wrap justify-between border-b border-gray-100 pb-3">
          <small class="text-sm font-light text-slate-400">Last Event</small>
          <strong class="line-clamp-2 text-sm font-semibold text-slate-700"
            >{{ events.first|truncatechars:30 }} ({{ events.first.created_at|date:'M d, Y' }})</strong
          >
        </div>
        <div class="font-poppins flex flex-row flex-wrap justify-between border-b border-gray-100 pb-3">
          <small class="text-sm font-light text-slate-400">Location</small>
          <strong class="text-sm font-semibold text-slate-700">{{ association.location }}</strong>
        </div>
        <div class="font-poppins flex flex-row flex-wrap justify-between pb-3">
          <small class="text-sm font-light text-slate-400">Since</small>
          <strong class="text-sm font-semibold text-slate-700">{{ association.created_at|date:'F Y' }}</strong>
        </div>
      </div>
    </div>
    <div class="font-poppins container flex flex-col gap-2">
      <p class="font-medium text-slate-900">Members Organizer</p>
      <div class="mt-4 flex flex-col gap-3">
        <div class="font-poppins flex flex-row flex-wrap items-center gap-3 border-b border-gray-200 pb-3">
          <img
            src="{% get_media_prefix %}{{ association.user.avatar }}"
            alt=""
            srcset=""
            class="h-8 w-8 rounded-full object-cover object-center ring-2 ring-yellow-500 ring-offset-2"
            draggable="false"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-4 cursor-pointer text-yellow-500"
            data-tippy-content="Association Manager"
          >
            <path
              d="M12,18.091l4.969,2.999c0.784,0.473,1.751-0.23,1.543-1.121l-1.319-5.653l4.391-3.804c0.692-0.599,0.322-1.736-0.59-1.813 l-5.78-0.49l-2.261-5.335c-0.357-0.841-1.549-0.841-1.906,0L8.786,8.209l-5.78,0.49c-0.912,0.077-1.282,1.214-0.59,1.813 l4.391,3.804l-1.319,5.653c-0.208,0.891,0.759,1.594,1.543,1.121L12,18.091z"
              fill="currentColor"
            />
          </svg>
          <strong class="line-clamp-1 text-sm font-semibold text-slate-700"
            >{{ association.user.first_name }} {{ association.user.last_name }}</strong
          >
        </div>
        {% for member in members %}
        <!-- -->
        {% if member.user != association.user %}
        <div class="font-poppins flex flex-row flex-wrap items-center gap-3 pb-3">
          <img
            src="{% get_media_prefix %}{{ member.user.avatar }}"
            alt=""
            srcset=""
            class="h-8 w-8 rounded-full object-cover object-center ring-2 ring-gray-300"
            draggable="false"
          />
          <strong class="line-clamp-1 text-sm font-semibold text-slate-700"
            >{{ member.user.first_name }} {{ member.user.last_name }}</strong
          >
        </div>
        {% endif %}
        <!-- -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- -->
{% block js %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>
  tippy('[data-tippy-content]', {
    delay: 50,
    duration: 150,
    animation: 'scale',
    inertia: true,
    trigger: 'click',
  });
</script>
{% endblock js %}
