{% load static tailwind_tags %}

<!-- -->
{% load static %}

<!-- -->
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>Binago Homepage</title>
  </head>
  <body class="fr bg-base-bg relative flex h-auto w-full select-none flex-col items-center">
    <div class="mt-10 flex min-w-[1536px] max-w-screen-2xl flex-col gap-5 border-yellow-500">
      <nav
        class="bg-base-depth sticky top-0 z-10 flex flex-row items-center justify-between rounded-b-2xl bg-opacity-80 py-3 px-6 backdrop-blur-lg"
      >
        <a
          href="{% url 'homepage' %}"
          class="w-40 flex-shrink-0 rounded-xl py-3 px-4 outline-none transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-30 hover:ring-4 hover:ring-slate-300 hover:ring-opacity-30"
          tabindex="-1"
        >
          <img
            src="{% static 'web/logo.png' %}"
            alt=""
            srcset=""
            class="w-40 object-contain object-center"
            draggable="false"
          />
        </a>
        <a
          href="{% url 'settings' %}"
          class="flex flex-row items-center gap-3 rounded-xl py-3 px-4 outline-none transition-all duration-150 ease-out hover:bg-slate-300 hover:bg-opacity-30 hover:ring-4 hover:ring-slate-300 hover:ring-opacity-30"
          tabindex="-1"
        >
          <img
            src="{% get_media_prefix %}{{ request.user.avatar }}"
            alt=""
            srcset=""
            class="h-9 w-9 shrink-0 rounded-full object-cover object-center"
            draggable="false"
          />
          <div class="flex flex-col">
            <strong class="font-quicksand text-base-field text-base font-bold">{{ request.user.username }}</strong>
            <small class="font-quicksand text-xs font-medium text-sky-500">Developer & Owner</small>
          </div>
        </a>
      </nav>
      <div class="flex min-w-[82rem] flex-row gap-7 border-green-500">
        <!-- left -->
        <!-- TODO: need to improve -->
        {% include 'frontend/layout/sidebar.html' %}
        <!-- end left -->
        <!-- main -->
        <main class="relative w-full p-3">
          {% block content %}
          <!-- -->
          {% endblock content %}
        </main>
        <!-- end main -->
        <!-- right -->
        {% include 'frontend/layout/sidebar_right.html' %}
        <!-- end right -->
      </div>
    </div>
    {% block js%}
    <!-- -->
    {% endblock %}
  </body>
</html>
